@charset "UTF-8";
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-07-01 16:24:06
 * @version $Id$
 */


@import "variables.less";

/*===================/课程详情页---上半部分/===============================*/
.coures_content {
		background:#f6f6f6;height:605px;
		h2 {
			width:970px;height:47px;line-height:47px;margin:0 auto;font-size:@f16;font-family:@fw;font-weight:normal;color:@g3;padding-left:10px;overflow:hidden;
			strong {font-size:@f14;}
		}
		.content_player {
				width:980px;height:535px;background:#fff;margin:0 auto;box-shadow: 5px 5px 5px rgba(231, 231, 231, 0.4),-5px -5px 5px rgba(231, 231, 231, 0.4);border-radius: 2px;
				.player_list {
						float:left;width:230px;height:465px;background: url(../html/src/img/tingkeyebg.jpg) repeat-y;border-bottom:1px solid #efefef;
						.list_shop_meoney {
							height:83px;background: url(../html/src/img/tkbg_01.jpg) no-repeat;position: relative;
							.btn_apply {display:block;width:110px;height:47px;position: absolute;left:-7px;top:22px; z-index:10;background: url(../html/src/img/baoming.png) no-repeat;text-indent:@ti;}
							.money_num {
								float:right;text-align:@r;padding:5px 15px 0 0;
								p {font-size:30px;color:@r0;}
								del {display:block;color:@g3*3;}
							}
						}
						.list_title {
							height:38px;line-height:38px;background: url(../html/src/img/tkbg_02.jpg) no-repeat;
							ul {
  							  width: 500px;
  							  li {
  								  float: left; width: 230px;overflow: hidden;
  									.directory {float:left;width:72px;height:24px;line-height:24px;margin:7px 15px 0;background: url(../html/src/img/label_01.jpg) no-repeat; text-align:@c;color:@g3;text-decoration: none;text-indent:5px;}
  									.back {float: right;width:48px;text-indent: -3px;background: url(../html/src/img/label_back.jpg) no-repeat;}
  									span {float:left;color:@g3*2;padding-left:15px;}
  								}
							}
						}

				}
				.player_live {
						float:right;width:745px;height:465px;
						#VideoPlay {width:730px;height:453px;margin:12px auto 0;overflow:hidden;}
				}
				.player_info {
					/*授课老师*/
						overflow:hidden;width:980px;height:69px;line-height:69px;float: left;
						dl {
							float:left;display:inline;margin-left:20px;font-size:@f14;color:@g3*2;
							dt {float:left;}
							dd {
								float:left;display:inline;
								.star {background: url(../html/src/img/star.jpg) repeat-x; text-indent:@ti;margin-top:25px;}
								.star1 {width:25px;}
								.star2 {width:45px;}
								.star3 {width:65px;}
								.star4 {width:85px;}
								.star5 {width:105px;}
								.ui_avatar {
										margin-top:10px;
										.prev,.next {float:left;display:inline;margin:12px 7px 0 0;}
										.avatar_items{
											float:left;display:inline;margin-right:7px;
											img {width:50px;height:50px;}
										} 

								}
							}
						}
						.listen_num {
								float:right;font-size:@f18;color:@g3*2;font-family:@fw;padding-right:20px;
								strong {font-size:28px;font-family:@fa;}
						}
				}
		}
}
/*课程列表*/
.ui_scrolls {
      width: 230px; overflow: hidden;
      .scrolls_item {
               width: 500px;height: 345px;overflow: hidden;position: relative;
               /*滚动条 */ 
            .scrolls_bar {
                    width: 16px;height: 345px;overflow: hidden;background: url(../html/src/img/scroll_bar.jpg) repeat-y;position: absolute;z-index: 10;left: 0;top: 0;
                    span {
                      display: block;height: 50px;background: url(../html/src/img/scroll_c.jpg) repeat-y;text-indent:@ti;cursor: pointer;
                    }
            }
            /*滚动条 end*/
            .scrolls_con {
                  float: left;width: 230px;
                  ul {
                       background: url(../html/src/img/scroll_ul.jpg) 38px 0 repeat-y;
                      li {
                        line-height: 43px;padding-left: 58px;font-size: 14px;color:@g3;background: url(../html/src/img/scroll_li.jpg) 44px 20px no-repeat;
                          .gray {
                              a {color:@g3*3;}
                              .red { color:@r0;}
                          }
                          a {color:@g3*2;}
                          .red {font-size:@f12;padding-left: 20px;color: @r0;}
                          .icon_blue_sign {float: @r;margin: 5px 10px 0 0;}
                      }
                      .scrolls_title {height: 41px;border-bottom: 1px solid #e9e9e9;background: url(../html/src/img/tingkeyebg.jpg) repeat-y;padding-left: 25px;}
                      .current {
                             background: url(../html/src/img/scroll_current.jpg) no-repeat;
                             a {color: @white;}
                      }
                      .last {background: url(../html/src/img/last.jpg) 38px 1px no-repeat;}
                  }
            }
           /*课程节列表 end*/ 
          .scrolls_con_list {
              ul {
                  li {
                      height: 42px;border-bottom: 1px solid #e9e9e9;font-size:@f12;overflow: hidden;cursor: pointer;background: url(../html/src/img/tingkeyebg.jpg) repeat-y;padding-left: 25px;
                      a {float: @l;display: inline;width: 145px;text-decoration: none;}
                      .icon_blue_sign {float: @l;margin: 5px  0 0 5px;}
                      .icon_corner {float: @r;margin: 15px 5px 0 0;}
                      .icon_live_gary {float: @l;margin-left: 7px;}
                      .gray {color:@g3*3;}

                  }
                  .current {
                        .icon_corner {background: url(../html/src/img/icon_corner_blue.jpg) 0 1px no-repeat;}
                  }
              }
           }
           /*课程讲列表 end*/ 
      }
 
}





/*听课页*/ 
.coures_content_item {
      height: 508px;padding-top: 37px;
      .content_player {
               height: 478px;
              .player_list {
                     height: 478px;
                     .ui_scrolls{
                          .scrolls_item {
                                 height: 440px;
                                 .scrolls_bar {height: 440px;}

                          }  
                     }
              }
      }
}
/*听课页 end*/
.icon_corner {background: url(../html/src/img/icon_corner.jpg) 0 2px no-repeat;}
.icon_tests {background: url(../html/src/img/icon_test.jpg) 0 2px no-repeat;margin-top: 12px;}
.icon_live_gary {background: url(../html/src/img/icon_live_gary.jpg) 0 2px no-repeat;margin-top: 12px;}
.current .icon_live_gary {background: url(../html/src/img/icon_live_cur.jpg) 0 2px no-repeat;}


























