/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:40:57
 * @version $Id$
 */

@import "base.less";
@import "reset.less";
@import "variables.less";
/*base,重置，变量*/
@import "icon.less";
@import "form.less";
@import "button.less";
/*图标，表单，按钮*/


#header {
      height:56px;box-shadow:0 2px 12px #ddd;position: relative;z-index: 100;
     .header_box {
          width: 980px;margin:0 auto;
            h1.logo {
                     float: @l;display: inline;width: 260px; 
                     a {
                         display: block; height:55px;text-indent:@ti ;background: url(../img/logo/logo.png) no-repeat;
                       }
            }
            /*logo*/

            ul.nav {
                        float: @l;width: 415px;height: 45px;
                        li {
                          float: @l;display: inline;line-height: 45px;margin:6px 10px 0 30px;font-family: @fw;font-size: @f18;
                            a {
                            color:@g3;
                            &:hover {
                                  color:@r0;
                                  }
                            }

                      }
                      li.current {
                         border-bottom: 4px solid  @r0;
                             a {
                              color: @r0;
                              &:hover {
                                  color:@r0;
                                  }
                              }
                      }
            }
            /*菜单*/
            .search {
                     float:left;width: 180px;height: 30px; margin-top: 12px;border-radius: 16px;border:1px solid #ccc;position: relative;
                    .head_top_search {
                          width:140px;height: 20px; border: 0;margin:@margin5 @margin0 @margin0 @margin5 * 2;
                    }
                     .head_btn_search {
                          width:15px;height:15px; background:url("@{iconpath}") -49px 0 no-repeat transparent; text-indent:@ti;position: absolute; right:12px;top:7px; z-index:10;
                    }
            }
          /*搜索*/
       }
}



/*未登录*/
#header .header_box ul.topbar {
    float:@r;width: 100px;padding:18px 5px;
      li {
         float: @r;font-size:@f14;
         a {
             color:@g3 * 3;
            }
            .line {padding:0 5px;}
      }
	     .shopcar {width: 30px;}
}

/*已登录*/

#header .header_box .loginbar {
      float: right;width: 110px;margin-right: 12px;
	     li {
             float:left;cursor: pointer;width: 33px;
             p {padding:18px 0; }
             .line {padding:0 7px;}
             .icon {margin-left:5px;}
             
      }
      .current {
           position: relative; z-index: 10;
           p {background: #fcfcfc;border-left:1px solid #ccc;border-right:1px solid #ccc;position: relative; z-index: 110; }
           .layer_head {
                  width:101px;border:1px solid #ccc;box-shadow:0 2px 2px #ddd;background: #fcfcfc; position: absolute; z-index: 1;left: -70px;top: 56px;
                  ul {
                        padding-top: 5px;
                       li {
                          height: 25px;line-height: 25px; width:101px;padding: 0;
                          a {
                             display:block;padding:0 5px 0 15px;color: @g3*2; text-decoration: none;
                             &:hover {
                                background: #3399cc;color: @white;
                                strong {color: @white;}
                              }
                          }
                          
                       }
                       
                      .exit {
                        border-top: 1px solid #e6e6e6;background: #f2f2f2;
                        a {
                          color: #006699;
                          &:hover {
                                background: #f2f2f2;color:#006699;
                               
                              }
                        }
                      }
                  }
           }
         
      }
      .lines {width: 3px;color: #ccc; text-align: @c;}
}
























