@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-28 14:19:25
 * @version $Id$
 */

@import "variables.less";

.head_user {
		width:980px;height:160px;overflow:hidden;margin:20px auto 15px;
		.user_pic {
				float:left;margin-right:13px;
				img {width:134px;height:134px;}
		}
		.user_detail {
				float:left;
					.user_name {
							font-size:30px;font-family:@fw;
							em {margin-top:14px;}
				    }
				    .user_info {height:65px;line-height:@hl180;}
				    .ui_follow {
				    		.addsucess {margin-left:3px;}
				    }
		}
		.user_count {
				float:right;display:inline;margin-top:65px;
				li {
                    float:left;width:120px;font-size:@hl16;
					strong {display:block;font-size:24px;padding-left:5px;}
				}
		}
}