@charset "UTF-8";
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:42:05
 * @version $Id$
 */
@import "base.less";
@import "reset.less";
@import "variables.less";
/*base,重置，变量*/

@import "icon.less";
@import "form.less";
@import "button.less";
/*图标，表单，按钮*/

@import "header.less";
@import "layout.less";
@import "footer.less";
/*头部，内容，底部*/


@import "ui_avatar.less";
@import "ui_courses.less";
@import "ui_follow.less";


@import "table.less";


/*================/ 支付 /========================*/
 

.header_shop {
	width:980px;margin:0 auto;overflow:hidden;
	h1.logo {
		float:none;overflow:hidden;
		a {height:45px;background: url(../html/src/img/logo_shop.jpg) no-repeat;}
	}
	.pay_step {
		height:30px;background: url(../html/src/img/shop_line.jpg) 0 10px repeat-x;
		ul {
			float:right;
			li {
				float:left;width:120px;background: url(../html/src/img/shop_1.jpg) center 1px no-repeat;font-family:@fw ;text-align:@c;
				.text_num {display:block;color:@white;padding:2px 0 5px 0;}
				p {color:#4b9fdb; }
			}
			.next_step {
				background: url(../html/src/img/shop_2.jpg) -3px 1px no-repeat;
				.text_num {}
				p {color:@g3*3;}

			}
		}
	}
}



h2.shopcar_title {height:50px;line-height:50px;font-family:@fw ;font-size:@f18;font-weight:normal;color:@g3;}
h3.shopcar_title {height:30px;font-family:@fw,@fa;font-size:@f14;font-weight:normal;color:@g3;}
h3.pay_way {line-height:30px;font-weight:bold;}
.account_money {height:30px;font-family:@fw,@fa;font-size:@f12;color:@g3;}
.account_money strong {font-weight:bold;}

table.table_shop {
	border:1px solid #99c7e9;margin-bottom:10px;
	th {padding:0;height:31px;vertical-align: middle;background:#c0dff4;font-weight:normal;}
	td {
		background:#eef9ff;border-top:1px dashed #eeebe9;font-size:@f14;
		a:link {color:@g3;}
		span {color:@g3*3;padding-left:20px;}
	}
	.text_l {text-align:@l;padding-left:20px;}
	.text_r {
		text-align:@r;padding-right:20px;
	}
	.tfoot td {background:#fff;border:0;}
	.tfoot .money {font-weight:bold;font-size:@f18;}
	.shop_empty {background: url(../html/src/img/shop_i.jpg) 1px 1px no-repeat; padding-left:20px;font-size:@f12;}

}

.order_button {overflow:hidden}
.order_button .btn {float:right;width:100px;height:30px;font-size:@f14;font-family:@fw;margin-left:10px;}


.recommend {
		overflow:hidden;margin-bottom:10px;
		.recommend_title {font-size:@f14;border-bottom:1px solid #cdd0d7;height:25px;line-height:25px;}
		.recommend_content {
				background:#f9f9f9;padding:10px;overflow:hidden;
				.course_item {
					width:250px; margin:0 10px 0 20px;float:left;display:inline;
					.ui_avatar  {float:left;margin:10px;height:110px;}
					.course_detail {
							width:170px;
							.course_title {font-size:@f12;}
							.course_func {
									overflow:hidden;
									span {margin:0 10px 0 0;}
									.btn_audition {margin:5px 0 0 5px;}
							}
					}
				}
		}
}

.order_pay_info {
		background:#f7f7f7;height:57px;text-align:right;line-height:57px;
		.all_money {
		float:left;width:835px;font-size:@f14;
		strong {font-size:@f18;font-weight:bold;}
		}
		.btn_sky {float:right;width:100px;height:30px;font-size:@f14;font-weight:bold;margin:15px 20px 20px 0;}
}


.finish_order {
		overflow:hidden;padding:10px 60px;border:1px solid #99c7e8;background:#eef9ff;margin:30px 0 10px 0;
		.order_t {font-family:@fw;font-size:@f18;color:#409ad8;font-weight:normal;line-height:50px;}
		.order_num {height:41px;line-height:41px;background:#fff;font-size:@f14;padding-left:25px;}
		.order_tc {line-height:50px;font-size:@f14;}
		.attention_list {
				overflow:hidden;float:left;margin-bottom:10px;
				.ui_avatar {float:left;width:50px;margin-right:10px;}
				.feed_detail {
					float:left;width:80px;
					.hidden {display:block; text-align:center;margin-top:7px;}
				}
		}
}


.group_order {
		height:35px;line-height:30px;overflow:hidden;margin:15px 0 50px 0;
		span {float:left;color:@g3*3;}
		a {float:left;color:@g3;margin-right:10px;}
		.btn_sky {width:100px;height:30px;color:#fff;line-height:30px;font-size:@f14;text-decoration: none;}
}














