@charset "UTF-8";
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:42:05
 * @version $Id$
 */
@import "base.less";
@import "reset.less";
@import "variables.less";
/*base,重置，变量*/

@import "icon.less";
@import "form.less";
@import "name.less";
@import "button.less";
/*图标，表单，按钮*/

@import "header.less";
@import "layout.less";
@import "footer.less";
@import "side_nav.less";
/*头部，内容，底部*/

@import "picture.less";
@import "list.less";
@import "title.less";
@import "index_login.less";

@import "ui_comment.less";
@import "ui_consult.less";
@import "ui_pages.less";
@import "ui_feed.less";
@import "ui_avatar.less";
@import "ui_username.less";
@import "ui_filter.less";
@import "ui_sortbar.less";
@import "ui_courses.less";
@import "ui_teachers.less";
@import "ui_follow.less";

/*================/ 首页 /========================*/
 
.content_box {overflow: hidden;}
.content_box .feed_text {width: 570px;}
.content_box .border_none {border: 0;} 

ul.index_notice {
	overflow: hidden;padding: 10px 0;
	li {
		height: 25px;line-height: 25px;padding-left: 10px;overflow: hidden; font-size: @f14;
		i {font-size: @f18;padding-right: 10px; .icon; .icon_dot;}
		a {color: @g3;}
	}
}
	
/*==================/搜课/====================*/

.ui_searchbar {
	overflow: hidden;margin:20px 0 15px 0;
	.search_head {height: 26px;line-height: 26px;font-size: 14px;color: #0175b2;font-weight: bold;}
	.search_group  {
		overflow: hidden;
		.search_keyword {float:left;width:658px;height:33px;line-height: 33px;border: 1px solid #3399fe;}
		.btn_blue {float:left;width:70px;height:35px;color:#fff;font-size:14px;background: #3399fe;border:0;border-radius: 0;}
	}
	.search_tips {height: 37px;line-height: 37px;background: #f4f0ef;padding-left: 15px;color: @g3*2}
}



ul.notice_list {
	overflow: hidden;
	li {
		height: 25px;line-height: 25px;padding-left: 10px;overflow: hidden; font-size: @f14;border-bottom:1px dotted #ccc;padding:5px 0;
		i {font-size: @f12; text-indent:0em;color:@white;margin-right:5px;}
		a {color:@g3;}
	}
	.rank {
	   a {color:@b0;}
	}
	.rank_1, .rank_2, .rank_3 {
		i.icon_square_gray {
			.icon_square_orange;
		}
	}
}

/*===================/教师排行页/=====================*/

.panel .ui_feed {overflow:hidden;border-bottom: 1px dashed #F1F1F1;padding-bottom:10px;margin-bottom:15px;}
.panel .ui_feed .ui_avatar {float: left;width: 50px;height: 50px;}


.panel .ui_feed .feed_detail {float: right;width: 175px;}
.panel .ui_feed .feed_detail span {color:@g3*3;}
.panel .ui_feed .feed_detail .feed_bar {height:20px;line-height:20px;}
.panel .ui_feed .feed_detail .feed_bar span {float:right; text-align:right;}
.panel .ui_feed .feed_detail .feed_text a {color:#006699;}

/*========================/帮助左侧列表/================================*/

.nav_help li {text-align: left;padding-left: 15px;}
.nav_help li.current a {font-weight: bold;}

.ui_article {
		overflow: hidden;margin: 20px 0;
		.article_title {line-height: 40px;font-size: 18px;}
		.article_content {
				overflow: hidden;
				p {line-height: 180%;margin-bottom: 10px; text-indent: 2em;font-size: 14px;color: #666;}
				.pic {text-align: center;}
		}
}

/*===================/课程频道页/=====================*/

.menu_pd_title {
		height: 55px;line-height: 55px;font-size: 12px;color: #666;
		a {color: #999;}
}

ul.notice_list {
	overflow: hidden;
	li {
		height: 25px;line-height: 25px;padding-left: 10px;overflow: hidden; font-size: @f12;
		i {color:@white; text-indent:0em;margin-right:5px;margin-top:3px;}
		a {color: @g3;}
	}
}
/*========================/404/================================*/


.page_404 {
	width:440px;overflow:hidden;margin:40px auto;
	.page_404_tips {height:247px;
	background: url(http://img04.xesimg.com/404.jpg) no-repeat; text-indent:@ti;}
	.page_404_time {display:none;}
	.page_404_button {
	            line-height:30px;overflow:hidden;
	            a {
	            	float:left;
	            	display:inline;
	            	padding-left:15px;
	            	font-weight:bold;
	            	color:#006699;
	            	font-size:14px;
	            	.background-settings(-132px, -121px, @iconpath, no-repeat);
				}
				.up {
					margin-left:30px;
				}
	}
	.page_404_info {
					li {
						line-height:25px;color:#666;padding-left: 3px;
						i {font-size: @f18; padding-right: 10px; .icon; .icon_dot}
					}
	}

}


