@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-27 14:38:03
 * @version $Id$  动态组件
 */
@import "variables.less";

.ui_feed {overflow: hidden;margin-bottom: 10px;border-bottom: 1px solid #F1F1F1;padding-bottom: 20px;margin-bottom: 20px;}
.ui_avatar {overflow: hidden;}
.ui_feed .avatar_mini {float: left;display: inline;width: 60px;}

.feed_detail {
		float: left;display: inline;margin-left:5px;
			.feed_text {
				   line-height: 180%;color: #666;
				   a {color: #006699;}
		    }
		    .feed_bar {
				    overflow:hidden;line-height:@hl20;color:@g3*3;
				    span {
				         float:right;
				         a {
				        	 padding-right:10px;
				        	 strong {color:@g3*3;}
				         }
				    }
		    }
}

.feed_comment {
	   border:1px solid #ededed;background:#fcfcfc;margin-top:10px;position: relative;
	   .ui_comment {width:640px;margin:10px auto;}
	   .comment_corner {width:16px;height:9px;background: url(/xesui/src/img/ins_c.jpg)  no-repeat;position: absolute; z-index:10;top:-9px;right:126px;}
}