@charset "UTF-8";
/**
 * 
 * authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:44:46
 * @version $Id$  公用底部
 */
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用 eg:width:20px=20*@w1;
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
#footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 0px;
}
/*===============/下：关于我们部分/====================*/
#footer .foot_area {
  padding: 20px 0px;
}
#footer .foot_area p {
  text-align: center;
  line-height: 180%;
}
#footer .foot_area p a:link {
  padding: 0px 5px;
  color: #333333;
}
#footer .foot_area p.link {
  padding-top: 15px;
}
/*===============/上：学习经验分享/====================*/
#footer .foot_service {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #F1F1F1;
}
#footer .foot_service a {
  float: left;
  display: inline;
  width: 140px;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  margin: 10px 10px 0px 20px;
  padding-left: 68px;
  text-decoration: none;
}
#footer .foot_service a p {
  line-height: 150%;
  color: #666;
  text-align: left;
}
#footer .foot_service a.service_share {
  background: url(http://www.xueersi.com/static/img/icon/A1_01.gif) no-repeat;
}
#footer .foot_service a.service_live {
  background: url(http://www.xueersi.com/static/img/icon/A2_01.gif) no-repeat;
}
#footer .foot_service a.service_system {
  background: url(http://www.xueersi.com/static/img/icon/A3_01.gif) no-repeat;
}
#footer .foot_service a.service_interaction {
  background: url(http://www.xueersi.com/static/img/icon/A4_01.gif) no-repeat;
}
#footer .foot_service a.service_share:hover {
  background: url(http://www.xueersi.com/static/img/icon/A1.gif) no-repeat;
}
#footer .foot_service a.service_live:hover {
  background: url(http://www.xueersi.com/static/img/icon/A2.gif) no-repeat;
}
#footer .foot_service a.service_system:hover {
  background: url(http://www.xueersi.com/static/img/icon/A3.gif) no-repeat;
}
#footer .foot_service a.service_interaction:hover {
  background: url(http://www.xueersi.com/static/img/icon/A4.gif) no-repeat;
}
#footer .foot_service a span {
  display: block;
  line-height: 22px;
  font-weight: bold;
  color: #333333;
}
