@charset "UTF-8";
/**
 * 
 * authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:44:46
 * @version $Id$  首页登录框部分
 */
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
.mtop_10 {
  margin-top: 10px;
}
.mtop_20 {
  margin-top: 20px;
}
.mtop_30 {
  margin-top: 30px;
}
.ptop_10 {
  padding-top: 10px;
}
.ptop_20 {
  padding-top: 20px;
}
.ptop_30 {
  padding-top: 30px;
}
.index_login {
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 11;
  top: 15px;
}
.index_login .login_from {
  width: 318px;
  height: 368px;
  overflow: hidden;
  border: 1px solid #cfdede;
  background: #fbfdfd;
  position: absolute;
  top: 0;
  right: 0;
}
/*====================/上：登录框和登录按钮部份/==========================*/
.index_login .login_from .login_input {
  width: 282px;
  height: 207px;
  margin: 0 auto;
  overflow: hidden;
}
.index_login .login_from .login_input p {
  overflow: hidden;
}
.index_login .login_from .login_input p input.input_text {
  width: 265px;
  height: 30px;
  border: 1px solid #cfdede;
  color: #ccc;
  margin-top: 18px;
  padding-left: 15px;
}
.index_login .login_from .login_input p label {
  float: left;
  display: inline;
  line-height: 40px;
  color: #999999;
}
.index_login .login_from .login_input p label input {
  vertical-align: middle;
}
.index_login .login_from .login_input p span {
  float: right;
  display: inline;
  line-height: 40px;
  color: #999999;
}
.index_login .login_from .login_input p span a {
  color: #999999;
}
.index_login .login_from .login_input p button.btn {
  width: 281px;
  height: 42px;
  margin-top: 5px;
  line-height: 42px;
  border-radius: 5px;
  background: #cc0000;
  background: -webkit-linear-gradient(top, #e72501, #bd1c01);
  font-size: 18px;
  color: #fff;
  font-family: "Microsoft YaHei";
  text-shadow: 2px 3px 5px #f1f1f1;
}
/*====================/下：登录信息说明部份/==========================*/
.index_login .login_from .login_infor {
  border-top: 1px solid #cfdede;
}
.index_login .login_from .login_infor p {
  width: 282px;
  margin: 0 auto;
  overflow: hidden;
}
.index_login .login_from .login_infor .infor_reg {
  line-height: 42px;
  color: #666666;
}
.index_login .login_from .login_infor .infor_reg a {
  color: #006699;
}
.index_login .login_from .login_infor .infor_app {
  overflow: hidden;
  margin-bottom: 10px;
}
.index_login .login_from .login_infor .infor_app a.app_qq,
.index_login .login_from .login_infor .infor_app a.app_weibo {
  float: left;
  display: inline;
  width: 138px;
  height: 47px;
  text-indent: -9999em;
}
.index_login .login_from .login_infor .infor_app a.app_qq {
  background: url(../html/src/img/qq.jpg) no-repeat;
}
.index_login .login_from .login_infor .infor_app a.app_weibo {
  float: right;
  background: url(../html/src/img/weibo.jpg) no-repeat;
}
.index_login .login_from .login_infor .infor_text {
  line-height: 25px;
  color: #999;
}
