/**
*list.css
*ui_list
*所有有序，无序列表
*<ul ol>
*    <li>1<a>中华人民共和国--学而思网校</a></li>
*</ul ol>
*/
/**
 * Reset文件
 */
body {
  font-size: 100%;
  font-family: arial;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input {
  *overview: visiable;
  line-height: normal;
}
a {
  text-decoration: none;
}
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用 eg:width:20px=20*@w1;
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
.ui_list {
  list-style-type: none;
  padding-left: 5px;
  line-height: 20px;
}
.list_blue {
  line-height: 22px;
}
.list_blue a {
  color: #0078b0;
}
.list_blue a:hover {
  color: #0078b0;
}
.list_black a {
  color: #333333;
}
.list_black a:hover {
  color: #333333;
}
