@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-07-01 16:26:25
 * @version $Id$
 */
/**
 * Base style
 */
/**
 * Typography
 *---------------------------
 */
.bl {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.n {
  font-weight: normal;
  font-style: normal;
}
.b {
  font-weight: bold;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.red {
  color: #cc0000;
}
.line {
  display: inline-block;
  padding: 0 10px;
  color: #999;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.border_none {
  border: 0;
}
/**
 * 用.border-radius(@radius)定义了一个带参数@radius(默认值为bbr)的属性
 * 可以在less文件中使用.border-radius(5px)调用
 *--------------------------------------------------------------------
 */
/**
 * 用.box-shadow(arguments)定义了一个带参数@arguments(可以设置默认值)的属性集合
 * 可以在less文件中使用.box-shadow(argument,argument,argument....)调用
 *------------------------------------------------------
 */
/**
 * 用.placeholder(argument)为placeholder设定一个颜色值
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用background-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用border-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换元素透明度，默认值为1
 * 可以在less文件中使用.alpha(opacity的值)调用
 *----------------------------------------------------
 */
/**
 * 可以修改背景图片
 * 可以在less文件中使用传入参数：X,Y,图片路径以及重复方向
 *----------------------------------------------------
 */
/* reset */
* {
  margin: 0px;
  padding: 0px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 arial, tahoma, "\5b8b\4f53", sans-serif;
}
body {
  _background-image: url(about:blank);
  /*用浏览器空白页面作为背景*/

  _background-attachment: fixed;
  position: relative;
  /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new,courier,monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
img {
  border: 0;
}
a,
a:link {
  text-decoration: none;
  color: #006699;
}
a:visited {
  text-decoration: none;
  color: #006699;
}
a:hover {
  text-decoration: underline;
  color: #cc0000;
}
a:active {
  text-decoration: underline;
  color: #F00;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
strong {
  color: #cc0000;
  font-weight: normal;
}
button {
  font-size: 100%;
  border: 0;
  cursor: pointer;
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
.mtop_10 {
  margin-top: 10px;
}
.mtop_20 {
  margin-top: 20px;
}
.mtop_30 {
  margin-top: 30px;
}
.ptop_10 {
  padding-top: 10px;
}
.ptop_20 {
  padding-top: 20px;
}
.ptop_30 {
  padding-top: 30px;
}
/*base,重置，变量*/
/**
 * Button 公用样式
 */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  margin-top: 1px;
  text-indent: -9999em;
  background-image: url("../img/icon.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
}
/**
 *icon按钮样式
 * <em>于icon图片类，<i>用于文字类
 *
 *认证加V以及顶部图标
 *icon_bverify：蓝V
 *icon_bbverify：大蓝V
 *icon_yverify：黄V
 *icon_byverify：大黄V
 *icon_new:有新消息状态;
 *icon_shopping：顶部购物图标
 *icon_messages：顶部信息图标
 *icon_settsings：顶部设置图标
 *-------------------------------------------
 *nav-list图标
 *icon_home:我的网校;
 *icon_star:我的收藏;
 *icon_heart:我的关注; 
 *icon_th:我的错题本; 
 *icon_exam:我的考试;
 *icon_report:效果报告;
 *icon_schedule:课程表;
 *icon_shield:我的挑战;
 *icon_diamond:金币兑礼;

 *--------------------------------------------
 *个人中心头部icons
 *icon_lv:个人学力;
 *icon_user:个人学习经历/学员;
 *icon_orders:个人订单;
 *icon_coins:个人金币;
 *icon_card:激活听课证;
 *--------------------------------------------
 *课程列表，课程动态，课程评论，购物车推荐课程;
 *icon_chevron_right:老师轮播图右侧按钮;
 *icon_chevron_right_reverse:老师轮播图右侧变暗按钮;
 *icon_chevron_left:老师轮播图左侧按钮;
 *icon_chevron_left_reverse:老师轮播图左侧变亮按钮;
 *icon_yellow_sign:课程标题橙色标记;
 *icon_thumbs_up:课程功能区赞图标;
 *icon_rmb:课程功能区价格图标;
 *icon_gray_user:课程功能区总学员数图标;
 *icon_clock:课程功能区请假按钮;
 *icon_word:课程功能区资料按钮;
 *icon_horn:课程功能区续保按钮;
 *icon_manuscript:课程功能区考试按钮;
 *icon_tv:课程功能区直播按钮;
 *icon_square_orange: 排行橘色图标;
 *icon_square_gray:排行灰色图标;
 *--------------------------------------------
 *alert图标
 *icon_info_sign:警告框图标;
 *icon_info_search:搜索图标;
 *-------------------------------------------
 *关注按钮
 *icon_add：关注添加图标
 *icon_gray_add：未关注图标
 *-------------------------------------------
 *icon_coursecard:课程卡大图标;
 *icon_guide:新手指南;
 *icon_courseselect:怎样选课图标;
 *icon_forward:去看看按钮;
 *icon_blue_sign：蓝色的对勾
 *icon_point ：alert图标
 *icon_timer ：timer图标
 *
 */
.icon_bbverify,
.icon_byverify {
  width: 23px;
}
.icon_lv {
  width: 30px;
  height: 15px;
}
.icon_yellow_sign {
  width: 35px;
  height: 17px;
}
.icon_coursecard,
.icon_courseselect,
.icon_guide {
  width: 238px;
  height: 41px;
}
.icon_forward {
  width: 150px;
  height: 36px;
}
.icon_follow_add {
  width: 14px;
  height: 14px;
  opacity: 0.5;
}
.icon_dot {
  width: 0;
}
.icon_timer {
  width: 30px;
  height: 30px;
  line-heiht: 30px;
}
.icon_new {
  background-position: 0 0;
}
.icon_shopping {
  background-position: -22px -75px;
}
.icon_messages {
  background-position: -22px -99px;
}
.icon_settsings {
  background-position: -22px -124px;
}
.icon_bverify {
  background-position: -99px 2px;
}
.icon_bbverify {
  background-position: -100px -50px;
}
.icon_yverify {
  background-position: -100px -23px;
}
.icon_byverify {
  background-position: -100px -75px;
}
.icon_home {
  background-position: 0 -20px;
}
.icon_star {
  background-position: 0 -50px;
}
.icon_heart {
  background-position: 0 -75px;
}
.icon_th {
  background-position: 0 -270px;
}
.icon_exam {
  background-position: 0 0;
}
.icon_report {
  background-position: 0 0;
}
.icon_schedule {
  background-position: 0 0;
}
.icon_user {
  background-position: 8px -98px;
}
.icon_shield {
  background-position: 0 -125px;
}
.icon_diamond {
  background-position: 0 -145px;
}
.icon_lv {
  background-position: -127px 0;
}
.icon_orders {
  background-position: -50px -125px;
}
.icon_coins {
  background-position: -22px -25px;
}
.icon_card {
  background-position: -22px -45px;
}
.icon_courses {
  background-position: -18px -147px;
}
.icon_chevron_right {
  background-position: -75px -225px;
}
.icon_chevron_left {
  background-position: -75px -200px;
}
.icon_chevron_right_reverse {
  background-position: -75px -252px;
}
.icon_chevron_left_reverse {
  background-position: -75px -276px;
}
.icon_yellow_sign {
  background-position: -127px -211px;
}
.icon_thumbs_up {
  background-position: -69px -48px;
}
.icon_rmb {
  background-position: -67px 3px;
}
.icon_gray_user {
  background-position: -71px -24px;
}
.icon_clock {
  background-position: -75px -75px;
}
.icon_word {
  background-position: -75px -100px;
}
.icon_horn {
  background-position: -75px -125px;
}
.icon_manuscript {
  background-position: -75px -150px;
}
.icon_tv {
  background-position: -75px -175px;
}
.icon_info_sign {
  background-position: -75px -75px;
}
.icon_info_search {
  background-position: -50px 0;
}
.icon_follow_add {
  background-position: -50px -177px;
}
.icon_coursecard {
  background-position: -123px -375px;
}
.icon_guide {
  background-position: -123px -420px;
}
.icon_courseselect {
  background-position: -123px -466px;
}
.icon_forward {
  background-position: -127px -366px;
}
.icon_arrow_up {
  background-position: -107px -131px;
}
.icon_arrow_down {
  background-position: -107px -106px;
}
.icon_arrow_right {
  background-position: -43px -200px;
}
.icon_square_orange {
  background-position: -47px -48px;
}
.icon_square_gray {
  background-position: -47px -73px;
}
.icon_blue_sign {
  background-position: -47px -145px;
}
.icon_dot {
  background-position: 0 -215px;
}
.icon_star {
  background-position: -50px -199px;
}
.icon_point {
  background-position: -50px -22px;
}
.icon_live {
  background-position: -45px -97px;
}
.icon_timer {
  background-position: -17px -189px;
}
/**
 *From 公用样式
 *table元素已经设定了BG和border-collapse属性
 */
form {
  font-size: 12px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
label {
  display: block;
  text-align: right;
}
textarea {
  height: auto;
}
/**
 * 设定select, checkbox样式
 */
select,
label,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 12px;
}
/**
 * 设定表单元素placeholder的字体颜色值
 */
input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
/**
*name.css
*ui_username
*用户，年级名称加"V"
*
*div>a+i.icon
   <a class="ui_username">userName<i class="icon icon_verifty_teacher">V</i></a>
*/
.ui_username,
.ui_username_large {
  color: #333333;
  line-height: 20px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
.ui_username_large {
  font-size: 20px;
}
/**
 * Button 公用样式
 */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  letter-spacing: 2px;
  color: #ffffff;
}
.btn_text {
  border: none;
  background: none;
}
/**
 * 按钮按大小分类
 * large:10px 20px;
 * small:3px 5px;
 * medium:5px 20px;
 */
.btn_large {
  padding: 10px 20px;
  font-size: 14px;
}
.btn_small {
  padding: 3px 5px;
}
.btn_medium {
  padding: 5px 20px;
}
/**
 * 按钮按颜色分类
 * gray：取消按钮，
 * red：提交类按钮以及课程列表听课按钮激活状态
 * blue：页面按钮
 * orange:关注按钮;
 */
.btn_gray {
  color: #333;
  border: 1px solid #cfcfcf;
  background: linear-gradient(#f2f2f2 0%, #f0f0f0 60%, #e8e8e8 100%);
  background: -webkit-linear-gradient(#f2f2f2 0%, #f0f0f0 60%, #e8e8e8 100%);
  background: -moz-linear-gradient(#f2f2f2 0%, #f0f0f0 60%, #e8e8e8 100%);
  box-shadow: 1px 1px 1px #ffffff inset, -1px -1px 1px #ffffff inset;
}
.btn_red {
  border: 1px solid #880000;
  background: linear-gradient(#e05866 2%, #c40018 5%, #ba0113 25%, #a4000b 70%, #8f0100 100%);
  background: -webkit-linear-gradient(#e05866 2%, #c40018 5%, #ba0113 25%, #a4000b 70%, #8f0100 100%);
  background: -moz-linear-gradient(#e05866 2%, #c40018 5%, #ba0113 25%, #a4000b 70%, #8f0100 100%);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;
}
.btn_blue {
  border: 1px solid #377ece;
  background: linear-gradient(#4fa4f4 2%, #4b9def 5%, #3981d3 70%, #377ece 100%);
  background: -webkit-linear-gradient(#4fa4f4 2%, #4b9def 5%, #3981d3 70%, #377ece 100%);
  background: -moz-linear-gradient(#4fa4f4 2%, #4b9def 5%, #3981d3 70%, #377ece 100%);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
}
.btn_sky {
  border: 1px solid #339afe;
  background-color: #339afe;
}
.btn_orange {
  border: 1px solid #ff870f;
  background: linear-gradient(#ffab37 1%, #ff9b2b 100%);
  background: -webkit-linear-gradient(#ffab37 1%, #ff9b2b 100%);
  background: -moz-linear-gradient(#ffab37 1%, #ff9b2b 100%);
}
/**
 * 按钮按功能分类(默认样式)
 * 
 */
.btn_disable {
  color: #eee;
  border: 1px solid #c5c5c5;
  text-shadow: 1px 0px rgba(255, 255, 255, 0.5);
  background: linear-gradient(#e5e5e5 0%, #cccccc 100%);
  background: -webkit-linear-gradient(#e5e5e5 0%, #cccccc 100%);
  background: -moz-linear-gradient(#e5e5e5 0%, #cccccc 100%);
  /*box-shadow: 1px 1px 1px rgba(255,255,255,1) inset, -1px -1px 1px rgba(255,255,255,1) inset;*/

}
/**
 *Table 公用样式
 *table元素已经设定了BG和border-collapse属性
 */
table {
  max-width: 100%;
  background-color: #fbfbfb;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  font-size: 12px;
  color: #333333;
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
}
.table th,
.table td {
  padding: 10px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  border-top: 1px dotted #e2e2e2;
}
.table th {
  font-weight: bold;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e2e2e2;
}
.table td a {
  color: #329bca;
}
/**
 * table with the solid border
 *具体在学习中心-个人设置-我的订单使用
 *------------------------------------
 */
.table-solid th,
.table-solid td {
  border: 1px solid #e2e2e2;
}
/*图标，表单，按钮*/
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:40:57
 * @version $Id$
 */
/*base,重置，变量*/
/*图标，表单，按钮*/
#header {
  height: 56px;
  box-shadow: 0 2px 12px #ddd;
  position: relative;
  z-index: 100;
}
#header .header_box {
  width: 980px;
  margin: 0 auto;
  position: relative;
  /*logo*/

  /*菜单*/

  /*搜索*/

}
#header .header_box h1.logo {
  float: left;
  display: inline;
  width: 260px;
}
#header .header_box h1.logo a {
  display: block;
  height: 55px;
  text-indent: -9999em;
  background: url(../img/logo/logo.png) no-repeat;
}
#header .header_box ul.nav {
  float: left;
  width: 415px;
  height: 55px;
}
#header .header_box ul.nav li {
  float: left;
  display: inline;
  line-height: 45px;
  margin: 0 10px 0 20px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
#header .header_box ul.nav li a {
  display: inline-block;
  color: #333333;
  margin-top: 6px;
}
#header .header_box ul.nav li a:hover {
  color: #cc0000;
}
#header .header_box ul.nav li .icon_down {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/header_corner.jpg") 6px 11px no-repeat;
}
#header .header_box ul.nav li .current {
  color: #cc0000;
  border-bottom: 4px solid #cc0000;
  text-decoration: none;
}
#header .header_box ul.nav .course {
  position: relative;
  background: #fcfcfc;
  border: 1px solid #ccc;
  border-bottom: 0;
  padding-left: 20px;
  width: 95px;
  box-shadow: 0 2px 12px #ddd;
}
#header .header_box ul.nav .course .current {
  border: 0;
}
#header .header_box ul.nav .course .layer_head_menu {
  overflow: hidden;
  width: 115px;
  position: absolute;
  right: -1px;
  top: 45px;
  z-index: 100;
  background: #fcfcfc;
  border: 1px solid #ccc;
  border-top: 0;
  box-shadow: 0 2px 4px #ddd;
}
#header .header_box ul.nav .course .layer_head_menu a {
  display: block;
  color: #666666;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  font-family: "SimSun";
  text-align: center;
}
#header .header_box ul.nav .course .layer_head_menu a:hover {
  background: #3399cc;
  color: #ffffff;
}
#header .header_box .search {
  float: left;
  width: 180px;
  height: 30px;
  margin-top: 12px;
  border-radius: 16px;
  border: 1px solid #ccc;
  position: relative;
}
#header .header_box .search .head_top_search {
  width: 140px;
  height: 20px;
  border: 0;
  margin: 5px 0px 0px 10px;
}
#header .header_box .search .head_btn_search {
  width: 15px;
  height: 15px;
  background: url("../img/icon.png") -49px 0 no-repeat transparent;
  text-indent: -9999em;
  position: absolute;
  right: 12px;
  top: 7px;
  z-index: 10;
}
/*未登录*/
#header .header_box ul.topbar {
  float: right;
  width: 100px;
  padding: 18px 5px;
}
#header .header_box ul.topbar li {
  float: right;
  font-size: 14px;
}
#header .header_box ul.topbar li a {
  color: #999999;
}
#header .header_box ul.topbar li .line {
  padding: 0 5px;
}
#header .header_box ul.topbar .shopcar {
  width: 30px;
}
/*已登录*/
#header .header_box .loginbar {
  float: right;
  width: 110px;
  margin-right: 12px;
}
#header .header_box .loginbar li {
  float: left;
  cursor: pointer;
  width: 33px;
}
#header .header_box .loginbar li p {
  padding: 18px 0;
}
#header .header_box .loginbar li .line {
  padding: 0 7px;
}
#header .header_box .loginbar li .icon {
  margin-left: 5px;
}
#header .header_box .loginbar .current {
  position: relative;
  z-index: 10;
}
#header .header_box .loginbar .current p {
  background: #fcfcfc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 110;
}
#header .header_box .loginbar .current .layer_head {
  width: 101px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ddd;
  background: #fcfcfc;
  position: absolute;
  z-index: 1;
  left: -70px;
  top: 56px;
}
#header .header_box .loginbar .current .layer_head ul {
  padding-top: 5px;
}
#header .header_box .loginbar .current .layer_head ul li {
  height: 25px;
  line-height: 25px;
  width: 101px;
  padding: 0;
}
#header .header_box .loginbar .current .layer_head ul li a {
  display: block;
  padding: 0 5px 0 15px;
  color: #666666;
  text-decoration: none;
}
#header .header_box .loginbar .current .layer_head ul li a:hover {
  background: #3399cc;
  color: #ffffff;
}
#header .header_box .loginbar .current .layer_head ul li a:hover strong {
  color: #ffffff;
}
#header .header_box .loginbar .current .layer_head ul .exit {
  border-top: 1px solid #e6e6e6;
  background: #f2f2f2;
}
#header .header_box .loginbar .current .layer_head ul .exit a {
  color: #006699;
}
#header .header_box .loginbar .current .layer_head ul .exit a:hover {
  background: #f2f2f2;
  color: #006699;
}
#header .header_box .loginbar .lines {
  width: 3px;
  color: #ccc;
  text-align: center;
}
/*消息提醒*/
.layer_news_tips {
  width: 175px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #fcfcfc;
  box-shadow: 0 2px 12px #ddd;
  position: absolute;
  right: 25px;
  top: 56px;
  z-index: 100;
}
.layer_news_tips .news_tips {
  position: relative;
}
.layer_news_tips .news_tips ul {
  padding: 10px 15px;
}
.layer_news_tips .news_tips ul li {
  line-height: 20px;
  color: #666666;
}
.layer_news_tips .news_tips button.close {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 3px;
  background: none;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  color: #999;
}
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:36:00
 * @version $Id$
 *@ layout.css  框架和公用样式
 */
/**/
#container {
  overflow: hidden;
  width: 100%;
  margin: 0;
}
.layout {
  width: 980px;
  margin: auto;
}
.layout_content {
  overflow: hidden;
}
/*公用样式*/
.panle {
  overflow: hidden;
}
.panel_content {
  overflow: hidden;
}
.left {
  float: left;
  display: inline;
}
.right {
  float: right;
  display: inline;
}
.w_215 {
  width: 215px;
  padding-bottom: 50px;
}
.w_235 {
  width: 235px;
  padding-bottom: 50px;
}
.w_240 {
  width: 240px;
}
.w_310 {
  width: 310px;
  margin-right: 5px;
  padding-bottom: 50px;
}
.w_655 {
  width: 655px;
  border-right: 1px solid #e5e5e5;
  padding-bottom: 50px;
}
.w_645 {
  width: 645px;
}
.w_730 {
  width: 730px;
  padding-bottom: 50px;
}
.w_740 {
  width: 740px;
  padding-bottom: 50px;
}
/**
 * [广告块]
 *
 */
.advert {
  margin-top: 10px;
}
/**
 * 
 * authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:44:46
 * @version $Id$  公用底部
 */
#footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 0px;
}
/*===============/下：关于我们部分/====================*/
#footer .foot_area {
  padding: 20px 0px;
}
#footer .foot_area p {
  text-align: center;
  line-height: 180%;
}
#footer .foot_area p a:link {
  padding: 0px 5px;
  color: #333333;
}
#footer .foot_area p.link {
  padding-top: 15px;
}
/*===============/上：学习经验分享/====================*/
#footer .foot_service {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #F1F1F1;
}
#footer .foot_service a {
  float: left;
  display: inline;
  width: 140px;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  margin: 10px 10px 0px 20px;
  padding-left: 68px;
  text-decoration: none;
}
#footer .foot_service a p {
  line-height: 150%;
  color: #666;
  text-align: left;
}
#footer .foot_service a.service_share {
  background: url(http://www.xueersi.com/static/img/icon/A1_01.gif) no-repeat;
}
#footer .foot_service a.service_live {
  background: url(http://www.xueersi.com/static/img/icon/A2_01.gif) no-repeat;
}
#footer .foot_service a.service_system {
  background: url(http://www.xueersi.com/static/img/icon/A3_01.gif) no-repeat;
}
#footer .foot_service a.service_interaction {
  background: url(http://www.xueersi.com/static/img/icon/A4_01.gif) no-repeat;
}
#footer .foot_service a.service_share:hover {
  background: url(http://www.xueersi.com/static/img/icon/A1.gif) no-repeat;
}
#footer .foot_service a.service_live:hover {
  background: url(http://www.xueersi.com/static/img/icon/A2.gif) no-repeat;
}
#footer .foot_service a.service_system:hover {
  background: url(http://www.xueersi.com/static/img/icon/A3.gif) no-repeat;
}
#footer .foot_service a.service_interaction:hover {
  background: url(http://www.xueersi.com/static/img/icon/A4.gif) no-repeat;
}
#footer .foot_service a span {
  display: block;
  line-height: 22px;
  font-weight: bold;
  color: #333333;
}
/*头部，内容，底部*/
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-07-01 16:24:06
 * @version $Id$
 */
/*===================/课程详情页---上半部分/===============================*/
.coures_content {
  background: #f6f6f6;
  height: 605px;
}
.coures_content h2 {
  width: 970px;
  height: 47px;
  line-height: 47px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: normal;
  color: #333333;
  padding-left: 10px;
  overflow: hidden;
}
.coures_content h2 strong {
  font-size: 14px;
}
.coures_content .content_player {
  width: 980px;
  height: 535px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(231, 231, 231, 0.4), -5px -5px 5px rgba(231, 231, 231, 0.4);
  border-radius: 2px;
}
.coures_content .content_player .player_list {
  float: left;
  width: 230px;
  height: 465px;
  border-bottom: 1px solid #efefef;
  background: url("../img/scroll/tingkeyebg.jpg") repeat-y;
}
.coures_content .content_player .player_list .list_shop_meoney {
  height: 83px;
  background-position: 0 -325px;
  background-image: url("../img/btn.png");
  background-repeat: no-repeat;
  position: relative;
}
.coures_content .content_player .player_list .list_shop_meoney .btn_apply {
  display: block;
  width: 110px;
  height: 47px;
  position: absolute;
  left: -7px;
  top: 22px;
  z-index: 10;
  background-position: -114px -101px;
  background-image: url("../img/btn.png");
  background-repeat: no-repeat;
  text-indent: -9999em;
}
.coures_content .content_player .player_list .list_shop_meoney .money_num {
  float: right;
  text-align: right;
  padding: 5px 15px 0 0;
}
.coures_content .content_player .player_list .list_shop_meoney .money_num p {
  font-size: 30px;
  color: #cc0000;
}
.coures_content .content_player .player_list .list_shop_meoney .money_num del {
  display: block;
  color: #999999;
}
.coures_content .content_player .player_list .list_title {
  height: 38px;
  line-height: 38px;
  background-position: 0 -238px;
  background-image: url("../img/btn.png");
  background-repeat: no-repeat;
}
.coures_content .content_player .player_list .list_title ul {
  width: 500px;
}
.coures_content .content_player .player_list .list_title ul li {
  float: left;
  width: 230px;
  overflow: hidden;
}
.coures_content .content_player .player_list .list_title ul li .directory {
  float: left;
  width: 72px;
  height: 24px;
  line-height: 24px;
  margin: 7px 15px 0;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-indent: 5px;
  background-position: -35px -79px;
  background-image: url("../img/btn.png");
  background-repeat: no-repeat;
}
.coures_content .content_player .player_list .list_title ul li .back {
  float: right;
  width: 48px;
  text-indent: -3px;
  background-position: -34px -172px;
  background-image: url("../img/btn.png");
  background-repeat: no-repeat;
}
.coures_content .content_player .player_list .list_title ul li span {
  float: left;
  color: #666666;
  padding-left: 15px;
}
.coures_content .content_player .player_live {
  float: right;
  width: 745px;
  height: 465px;
}
.coures_content .content_player .player_live #VideoPlay {
  width: 730px;
  height: 453px;
  margin: 12px auto 0;
  overflow: hidden;
}
.coures_content .content_player .player_info {
  /*授课老师*/

  overflow: hidden;
  width: 980px;
  height: 69px;
  line-height: 69px;
  float: left;
}
.coures_content .content_player .player_info dl {
  float: left;
  display: inline;
  margin-left: 20px;
  font-size: 14px;
  color: #666666;
}
.coures_content .content_player .player_info dl dt {
  float: left;
}
.coures_content .content_player .player_info dl dd {
  float: left;
  display: inline;
}
.coures_content .content_player .player_info dl dd .icon_star {
  margin-top: 22px;
}
.coures_content .content_player .player_info dl dd .ui_avatar {
  margin-top: 10px;
}
.coures_content .content_player .player_info dl dd .ui_avatar .prev,
.coures_content .content_player .player_info dl dd .ui_avatar .next {
  float: left;
  display: inline;
  margin: 12px 7px 0 0;
}
.coures_content .content_player .player_info dl dd .ui_avatar .avatar_items {
  float: left;
  display: inline;
  margin-right: 7px;
  margin-top: 5px;
}
.coures_content .content_player .player_info dl dd .ui_avatar .avatar_items img {
  width: 40px;
  height: 40px;
}
.coures_content .content_player .player_info .listen_num {
  float: right;
  font-size: 18px;
  color: #666666;
  font-family: "Microsoft YaHei";
  padding-right: 20px;
}
.coures_content .content_player .player_info .listen_num strong {
  font-size: 28px;
  font-family: "Arial";
}
/*课程列表*/
.ui_scrolls {
  width: 230px;
  overflow: hidden;
}
.ui_scrolls .scrolls_item {
  width: 500px;
  height: 345px;
  overflow: hidden;
  position: relative;
  /*滚动条 */
  /*滚动条 end*/

  /*课程节列表 end*/
  /*课程讲列表 end*/
}
.ui_scrolls .scrolls_item .scrolls_bar {
  width: 16px;
  height: 345px;
  overflow: hidden;
  background: url(../img/scroll/scroll_bar.jpg) repeat-y;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
.ui_scrolls .scrolls_item .scrolls_bar span {
  display: block;
  height: 50px;
  background: url(../img/scroll/scroll_c.jpg) repeat-y;
  text-indent: -9999em;
  cursor: pointer;
}
.ui_scrolls .scrolls_item .scrolls_con {
  float: left;
  width: 230px;
}
.ui_scrolls .scrolls_item .scrolls_con ul {
  background: url(../img/scroll/scroll_ul.jpg) 38px 0 repeat-y;
}
.ui_scrolls .scrolls_item .scrolls_con ul li {
  line-height: 43px;
  padding-left: 58px;
  font-size: 14px;
  color: #333333;
  background: url(../img/scroll/scroll_li.jpg) 44px 20px no-repeat;
}
.ui_scrolls .scrolls_item .scrolls_con ul li .gray a {
  color: #999999;
}
.ui_scrolls .scrolls_item .scrolls_con ul li .gray .red {
  color: #cc0000;
}
.ui_scrolls .scrolls_item .scrolls_con ul li a {
  color: #666666;
}
.ui_scrolls .scrolls_item .scrolls_con ul li .red {
  font-size: 12px;
  padding-left: 20px;
  color: #cc0000;
}
.ui_scrolls .scrolls_item .scrolls_con ul li .icon_blue_sign {
  float: right;
  margin: 5px 10px 0 0;
}
.ui_scrolls .scrolls_item .scrolls_con ul .scrolls_title {
  height: 41px;
  border-bottom: 1px solid #e9e9e9;
  background: url(../img/scroll/tingkeyebg.jpg) repeat-y;
  padding-left: 25px;
}
.ui_scrolls .scrolls_item .scrolls_con ul .current {
  background-position: 0 -282px;
  background-image: url("../img/btn.png");
  background-repeat: no-repeat;
}
.ui_scrolls .scrolls_item .scrolls_con ul .current a {
  color: #ffffff;
}
.ui_scrolls .scrolls_item .scrolls_con ul .last {
  background: url(../img/scroll/last.jpg) 38px 1px no-repeat;
}
.ui_scrolls .scrolls_item .scrolls_con_list ul li {
  height: 42px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
  background: url(../img/scroll/tingkeyebg.jpg) repeat-y;
  padding-left: 25px;
}
.ui_scrolls .scrolls_item .scrolls_con_list ul li a {
  float: left;
  display: inline;
  width: 145px;
  text-decoration: none;
}
.ui_scrolls .scrolls_item .scrolls_con_list ul li .icon_blue_sign {
  float: left;
  margin: 5px  0 0 5px;
}
.ui_scrolls .scrolls_item .scrolls_con_list ul li .icon_corner {
  float: right;
  margin: 15px 5px 0 0;
}
.ui_scrolls .scrolls_item .scrolls_con_list ul li .icon_live_gary {
  float: left;
  margin-left: 7px;
}
.ui_scrolls .scrolls_item .scrolls_con_list ul li .gray {
  color: #999999;
}
/*听课页*/.coures_content_item {
  height: 508px;
  padding-top: 37px;
}
.coures_content_item .content_player {
  height: 478px;
}
.coures_content_item .content_player .player_list {
  height: 478px;
}
.coures_content_item .content_player .player_list .ui_scrolls .scrolls_item {
  height: 440px;
}
.coures_content_item .content_player .player_list .ui_scrolls .scrolls_item .scrolls_bar {
  height: 440px;
}
/*听课页 end*/
.icon_corner {
  background-position: -129px -24px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
.icon_tests {
  background-position: -129px -98px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  margin-top: 12px;
}
.icon_live_gary {
  background-position: -129px -72px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  margin-top: 12px;
}
.current .icon_live_gary {
  background-position: -129px -50px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
.current .icon_corner {
  background-position: -129px 1px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-28 16:35:11
 * @version $Id$
 */
.ui_comment {
  overflow: hidden;
}
.ui_comment form.comment_form {
  overflow: hidden;
  margin-bottom: 10px;
}
.ui_comment form.comment_form .comment_title {
  line-height: 25px;
  font-size: 14px;
  color: #999999;
}
.ui_comment form.comment_form .comment_textarea {
  overflow: hidden;
}
.ui_comment form.comment_form .comment_textarea textarea {
  width: 99%;
  height: 60px;
  border: 1px solid #ededed;
}
.ui_comment form.comment_form .comment_func {
  overflow: hidden;
  height: 50px;
}
.ui_comment form.comment_form .comment_func .comment_kind {
  display: none;
}
.ui_comment form.comment_form .comment_func .comment_tips {
  float: left;
  color: #cc0000;
  line-height: 50px;
}
.ui_comment form.comment_form .comment_func .comment_button {
  float: right;
}
.ui_comment form.comment_form .comment_func .comment_button .comment_size {
  float: left;
  line-height: 50px;
  margin-right: 10px;
  color: #999999;
}
.ui_comment form.comment_form .comment_func .comment_button .btn_submit {
  width: 67px;
  height: 29px;
  font-size: 14px;
  margin: 10px 5px 0 0;
}
.ui_comment .comment_content {
  overflow: hidden;
}
.ui_comment .comment_content .comment_list {
  border-bottom: 1px dashed  #ededed;
  overflow: hidden;
  padding-bottom: 5px;
  margin-top: 15px;
}
.ui_comment .comment_content .comment_list .feed_detail {
  width: 570px;
}
.ui_comment .comment_content .comment_list .feed_detail .feed_text {
  color: #999999;
}
.ui_comment .comment_content .comment_list .feed_detail .feed_text strong {
  font-size: 14px;
  color: #333333;
}
.ui_comment .comment_more {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
}
.comment_num_all {
  height: 25px;
  line-height: 25px;
  text-align: right;
  border-top: 1px dashed  #ededed;
  color: #999999;
}
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-07-01 16:24:06
 * @version $Id$  课程详情页----咨询回复
 */
.ui_course_consult {
  overflow: hidden;
  margin-bottom: 10px;
}
.ui_course_consult .ui_consult {
  overflow: hidden;
  padding: 10px 10px 5px;
}
.ui_course_consult .ui_consult p {
  line-height: 25px;
  overflow: hidden;
}
.ui_course_consult .ui_consult em {
  float: left;
}
.ui_course_consult .ui_consult span {
  float: left;
  width: 650px;
}
.ui_course_consult .ui_consult .consult_title {
  color: #333333;
  line-height: 30px;
  padding-left: 5px;
}
.ui_course_consult .ui_consult .consult_text .icon_sonsult_1 {
  background-position: 0px -246px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
.ui_course_consult .ui_consult .consult_reply {
  color: #BC0000;
  margin-bottom: 5px;
}
.ui_course_consult .ui_consult .consult_reply .icon_sonsult_2 {
  background-position: -24px -246px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
.ui_course_consult .odd_course {
  background: #F3F6F6;
}
/**
 * ui_pages.less 分页组件
 * 
 * @modify : 2013-07-01;
 * @author : Marco(wujie@xueersi.com);
 * 
 */
.ui_pages {
  text-align: center;
  margin: 10px auto;
}
.ui_pages li {
  width: auto;
  display: inline-block;
}
.ui_pages li a,
.ui_pages li span {
  color: #333333;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
}
.ui_pages li a:hover {
  color: #0078b0;
  border-color: #0078b0;
  text-decoration: none;
}
.ui_pages li .btn {
  border-radius: 0;
  padding: 5px 10px;
  background: linear-gradient(#ffffff, #f0f0f0, #f5f5f5);
}
.ui_pages li .btn:hover {
  color: #333333;
  border-color: #cfcfcf;
}
.ui_pages li .btn.btn_disable {
  color: #999;
}
.ui_pages li .btn.btn_disable:hover {
  color: #999;
}
.ui_pages li.pages_current {
  color: #ffffff;
}
.ui_pages li.pages_current a,
.ui_pages li.pages_current span {
  color: #ffffff;
  background-color: #0078b0;
  border-color: #0078b0;
}
.ui_pages li.pages_more a,
.ui_pages li.pages_more span {
  border: 1px solid #ffffff;
  margin: 0;
}
/*===================/课程详情页---下半部分/===============================*/
/*相关课程和促销*/
.panel_listen {
  overflow: hidden;
  border: 1px solid #d2d2d2;
  box-shadow: 3px 3px 3px rgba(231, 231, 231, 0.4), -3px -3px 3px rgba(231, 231, 231, 0.4);
  border-radius: 2px;
  margin-bottom: 10px;
}
.panel_listen .listen_title {
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  color: #333333;
  background-position: 0px 0px;
  background-image: url("../img/hbg.png");
  background-repeat: repeat-x;
}
.panel_listen .listen_conten {
  overflow: hidden;
  width: 220px;
  margin: 15px auto 0px;
}
.tabs_title_item {
  overflow: hidden;
  background-position: 0px 0px;
  background-image: url("../img/hbg.png");
  background-repeat: repeat-x;
}
.tabs_title_item li {
  float: left;
  width: 180px;
  line-height: 37px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-right: 1px solid #d2d2d2;
}
.tabs_title_item li a {
  color: #333333;
}
.tabs_title_item .current {
  background-position: -36px -199px;
  background-image: url("../img/btn.png");
  background-repeat: repeat-x;
}
.listen_cou {
  overflow: hidden;
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.listen_cou .ui_avatar {
  float: left;
  margin: 3px 7px;
  width: 50px;
}
.listen_cou .ui_avatar img {
  width: 50px;
  height: 50px;
}
.listen_cou .cou_detail {
  float: left;
  width: 155px;
}
.listen_cou .cou_detail .cou_text {
  line-height: 150%;
  margin-bottom: 5px;
}
.listen_cou .cou_detail .cou_text a {
  color: #333333;
}
.listen_cou .cou_detail .cou_info span {
  float: left;
  margin-right: 10px;
  color: #999999;
  font-size: 14px;
}
.listen_cou .cou_detail .donate {
  width: 42px;
  height: 25px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  background-position: -35px -30px;
  background-image: url("../img/btn.png");
  background-repeat: no-repeat;
  font-weight: bold;
}
.listen_conten .border_none {
  border: 0;
}
.layout_body .listen_conten {
  width: 700px;
}
.layout_body .listen_conten .listen_cou {
  float: left;
  width: 200px;
  margin-right: 30px;
  border: 0;
}
.layout_body .listen_conten .cou_detail {
  width: 135px;
}
/*相关课程和促销 end*/
/*课程详情and课程咨询and课程大纲 */
#course_info_box {
  width: 690px;
  margin: 10px auto;
  overflow: hidden;
}
#course_info_box .course_detail {
  overflow: hidden;
  word-wrap: break-word;
}
#course_info_box .course_detail dl {
  padding: 10px 0;
  overflow: hidden;
}
#course_info_box .course_detail dl dt {
  color: #666666;
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
#course_info_box .course_detail dl dd {
  color: #666666;
  font-size: 12px;
  line-height: 22px;
  padding-left: 10px;
}
#course_info_box .course_detail .detail_title {
  border-bottom: 1px dotted #BDC2C8;
  padding: 10px 0;
  color: #CC0000;
  font-size: 14px;
}
#course_info_box .course_detail .detail_login {
  line-height: 20px;
  padding: 10px 0 0 18px;
  overflow: hidden;
  color: #666666;
}
#course_info_box .course_detail .detail_login a {
  color: #cc0000;
  font-weight: bold;
}
#course_info_box .course_detail .ui_comment {
  background: #f3f3f3;
  margin: 10px 0;
}
#course_info_box .course_detail .ui_comment .comment_form {
  padding: 10px 10px 0 10px;
}
#course_info_box .course_detail .ui_comment .comment_form .comment_func .comment_button .btn_sky {
  width: 80px;
}
#course_info_box .course_detail .table_outline {
  border: 0;
}
#course_info_box .course_detail .table_outline tr:nth-child(odd) {
  background: #fafafa;
}
#course_info_box .course_detail .table_outline tr:nth-child(even) {
  background: #f5f5f5;
}
#course_info_box .course_detail .table_outline td {
  border-top: 0;
  border-bottom: 1px solid #fff;
  height: 38px;
  vertical-align: middle;
  text-align: left;
  padding: 0;
}
#course_info_box .course_detail .table_outline td a {
  color: #333333;
}
#course_info_box .course_detail .table_outline .text_c {
  text-align: center;
}
/* 课程详情and课程咨询and课程大纲  end*/
