@charset "UTF-8";
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:42:05
 * @version $Id$
 */
/**
 * Base style
 */
/**
 * Typography
 *---------------------------
 */
.bl {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.n {
  font-weight: normal;
  font-style: normal;
}
.b {
  font-weight: bold;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.red {
  color: #cc0000;
}
.line {
  display: inline-block;
  padding: 0 10px;
  color: #999;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.border_none {
  border: 0;
}
/**
 * 用.border-radius(@radius)定义了一个带参数@radius(默认值为bbr)的属性
 * 可以在less文件中使用.border-radius(5px)调用
 *--------------------------------------------------------------------
 */
/**
 * 用.box-shadow(arguments)定义了一个带参数@arguments(可以设置默认值)的属性集合
 * 可以在less文件中使用.box-shadow(argument,argument,argument....)调用
 *------------------------------------------------------
 */
/**
 * 用.placeholder(argument)为placeholder设定一个颜色值
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用background-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用border-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换元素透明度，默认值为1
 * 可以在less文件中使用.alpha(opacity的值)调用
 *----------------------------------------------------
 */
/**
 * 可以修改背景图片
 * 可以在less文件中使用.alpha(opacity的值)调用
 *----------------------------------------------------
 */
/* reset */
* {
  margin: 0px;
  padding: 0px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 arial, tahoma, "\5b8b\4f53", sans-serif;
}
body {
  _background-image: url(about:blank);
  /*用浏览器空白页面作为背景*/

  _background-attachment: fixed;
  position: relative;
  /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new,courier,monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
img {
  border: 0;
}
a,
a:link {
  text-decoration: none;
  color: #006699;
}
a:visited {
  text-decoration: none;
  color: #006699;
}
a:hover {
  text-decoration: underline;
  color: #cc0000;
}
a:active {
  text-decoration: underline;
  color: #F00;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
strong {
  color: #cc0000;
  font-weight: normal;
}
button {
  font-size: 100%;
  border: 0;
  cursor: pointer;
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用 eg:width:20px=20*@w1;
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/*base,重置，变量*/
/**
 * Button 公用样式
 */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  margin-top: 1px;
  text-indent: -9999em;
  background-image: url("../img/icon.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
}
/**
 *icon按钮样式
 * <em>于icon图片类，<i>用于文字类
 *
 *认证加V以及顶部图标
 *icon_bverify：蓝V
 *icon_bbverify：大蓝V
 *icon_yverify：黄V
 *icon_byverify：大黄V
 *icon_new:有新消息状态;
 *icon_shopping：顶部购物图标
 *icon_messages：顶部信息图标
 *icon_settsings：顶部设置图标
 *-------------------------------------------
 *nav-list图标
 *icon_home:我的网校;
 *icon_star:我的收藏;
 *icon_heart:我的关注; 
 *icon_th:我的错题本; 
 *icon_exam:我的考试;
 *icon_report:效果报告;
 *icon_schedule:课程表;
 *icon_shield:我的挑战;
 *icon_diamond:金币兑礼;

 *--------------------------------------------
 *个人中心头部icons
 *icon_lv:个人学力;
 *icon_user:个人学习经历/学员;
 *icon_orders:个人订单;
 *icon_coins:个人金币;
 *icon_card:激活听课证;
 *--------------------------------------------
 *课程列表，课程动态，课程评论，购物车推荐课程;
 *icon_chevron_right:老师轮播图右侧按钮;
 *icon_chevron_right_reverse:老师轮播图右侧变暗按钮;
 *icon_chevron_left:老师轮播图左侧按钮;
 *icon_chevron_left_reverse:老师轮播图左侧变亮按钮;
 *icon_yellow_sign:课程标题橙色标记;
 *icon_thumbs_up:课程功能区赞图标;
 *icon_rmb:课程功能区价格图标;
 *icon_gray_user:课程功能区总学员数图标;
 *icon_clock:课程功能区请假按钮;
 *icon_word:课程功能区资料按钮;
 *icon_horn:课程功能区续保按钮;
 *icon_manuscript:课程功能区考试按钮;
 *icon_tv:课程功能区直播按钮;
 *icon_square_orange: 排行橘色图标;
 *icon_square_gray:排行灰色图标;
 *--------------------------------------------
 *alert图标
 *icon_info_sign:警告框图标;
 *icon_info_search:搜索图标
 *-------------------------------------------
 *关注按钮
 *icon_add：关注添加图标
 *icon_gray_add：未关注图标
 *-------------------------------------------
 *icon_coursecard:课程卡大图标;
 *icon_guide:新手指南;
 *icon_courseselect:怎样选课图标;
 *icon_forward:去看看按钮;
 *
 */
.icon_bbverify,
.icon_byverify {
  width: 23px;
}
.icon_lv {
  width: 30px;
  height: 15px;
}
.icon_yellow_sign {
  width: 35px;
  height: 17px;
}
.icon_coursecard,
.icon_courseselect,
.icon_guide {
  width: 238px;
  height: 41px;
}
.icon_forward {
  width: 150px;
  height: 36px;
}
.icon_follow_add {
  width: 14px;
  height: 14px;
  opacity: 0.5;
}
.icon_new {
  background-position: 0 0;
}
.icon_shopping {
  background-position: -26px -75px;
}
.icon_message {
  background-position: -26px -99px;
}
.icon_settings {
  background-position: -23px -124px;
}
.icon_bverify {
  background-position: -99px 2px;
}
.icon_bbverify {
  background-position: -100px -50px;
}
.icon_yverify {
  background-position: -100px -23px;
}
.icon_byverify {
  background-position: -100px -75px;
}
.icon_home {
  background-position: 0 -20px;
}
.icon_star {
  background-position: 0 -50px;
}
.icon_heart {
  background-position: 0 -75px;
}
.icon_th {
  background-position: 0 0;
}
.icon_exam {
  background-position: 0 0;
}
.icon_report {
  background-position: 0 0;
}
.icon_schedule {
  background-position: 0 0;
}
.icon_user {
  background-position: 8px -98px;
}
.icon_shield {
  background-position: 0 -125px;
}
.icon_diamond {
  background-position: 0 -150px;
}
.icon_lv {
  background-position: -127px 0;
}
.icon_orders {
  background-position: -50px -125px;
}
.icon_coins {
  background-position: -22px -25px;
}
.icon_card {
  background-position: -24px -50px;
}
.icon_courses {
  background-position: -18px -147px;
}
.icon_chevron_right {
  background-position: -75px -225px;
}
.icon_chevron_left {
  background-position: -75px -200px;
}
.icon_chevron_right_reverse {
  background-position: -75px -251px;
}
.icon_chevron_left_reverse {
  background-position: -75px -275px;
}
.icon_yellow_sign {
  background-position: -127px -211px;
}
.icon_thumbs_up {
  background-position: -69px -48px;
}
.icon_rmb {
  background-position: -65px 3px;
}
.icon_gray_user {
  background-position: -71px -24px;
}
.icon_clock {
  background-position: -75px -75px;
}
.icon_word {
  background-position: -75px -100px;
}
.icon_horn {
  background-position: -75px -125px;
}
.icon_manuscript {
  background-position: -75px -150px;
}
.icon_tv {
  background-position: -75px -175px;
}
.icon_info_sign {
  background-position: -75px -75px;
}
.icon_info_search {
  background-position: -50px 0;
}
.icon_follow_add {
  background-position: -50px -177px;
}
.icon_coursecard {
  background-position: -123px -375px;
}
.icon_guide {
  background-position: -123px -420px;
}
.icon_courseselect {
  background-position: -123px -466px;
}
.icon_forward {
  background-position: -127px -366px;
}
.icon_arrow_up {
  background-position: -50px -200px;
}
.icon_arrow_down {
  background-position: -50px -225px;
}
.icon_square_orange {
  background-position: -47px -48px;
}
.icon_square_gray {
  background-position: -47px -73px;
}
/**
 *From 公用样式
 *table元素已经设定了BG和border-collapse属性
 */
form {
  font-size: 12px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
label {
  display: block;
  text-align: right;
}
textarea {
  height: auto;
}
/**
 * 设定select, checkbox样式
 */
select,
label,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 12px;
}
/**
 * 设定表单元素placeholder的字体颜色值
 */
input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
/**
*name.css
*ui_username
*用户，年级名称加"V"
*
*div>a+i.icon
   <a class="ui_username">userName<i class="icon icon_verifty_teacher">V</i></a>
*/
.ui_username,
.ui_username_large {
  color: #333333;
  line-height: 20px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
.ui_username_large {
  font-size: 20px;
}
/**
 * Button 公用样式
 */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  letter-spacing: 2px;
}
.btn_text {
  border: none;
  background: none;
}
/**
 * 按钮按大小分类
 * large:10px 20px;
 * small:5px 5px;
 * medium:5px 20px;
 */
.btn_large {
  padding: 10px 20px;
  font-size: 14px;
}
.btn_small {
  padding: 5px 5px;
}
.btn_medium {
  padding: 5px 20px;
}
/**
 * 按钮按颜色分类
 * gray：取消按钮，
 * red：提交类按钮以及课程列表听课按钮激活状态
 * blue：页面按钮
 * orange:关注按钮;
 */
.btn_gray {
  border: 1px solid #cfcfcf;
  background: linear-gradient(#f2f2f2 0%, #f0f0f0 60%, #e8e8e8 100%);
  background: -moz-linear-gradient(#f2f2f2 0%, #f0f0f0 60%, #e8e8e8 100%);
  box-shadow: 1px 1px 1px #ffffff inset, -1px -1px 1px #ffffff inset;
}
.btn_red {
  color: #ffffff;
  border: 1px solid #880000;
  background: linear-gradient(#e05866 2%, #c40018 5%, #ba0113 25%, #a4000b 70%, #8f0100 100%);
  background: -moz-linear-gradient(#e05866 2%, #c40018 5%, #ba0113 25%, #a4000b 70%, #8f0100 100%);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset;
}
.btn_blue {
  color: #ffffff;
  border: 1px solid #377ece;
  background: linear-gradient(#4fa4f4 2%, #4b9def 5%, #3981d3 70%, #377ece 100%);
  background: -moz-linear-gradient(#4fa4f4 2%, #4b9def 5%, #3981d3 70%, #377ece 100%);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
}
.btn_sky {
  color: #ffffff;
  border: 1px solid #339afe;
  background-color: #339afe;
}
.btn_orange {
  color: #ffffff;
  border: 1px solid #ff870f;
  background: linear-gradient(#ffab37 1%, #ff9b2b 100%);
  background: -moz-linear-gradient(#ffab37 1%, #ff9b2b 100%);
}
/**
 * 按钮按功能分类(默认样式)
 * 
 */
.btn_disable {
  color: #eee;
  border: 1px solid #c5c5c5;
  text-shadow: 1px 0px rgba(255, 255, 255, 0.5);
  background: linear-gradient(#e5e5e5 0%, #cccccc 100%);
  background: -moz-linear-gradient(#e5e5e5 0%, #cccccc 100%);
  /*box-shadow: 1px 1px 1px rgba(255,255,255,1) inset, -1px -1px 1px rgba(255,255,255,1) inset;*/

}
/*图标，表单，按钮*/
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:40:57
 * @version $Id$
 */
/*base,重置，变量*/
/*图标，表单，按钮*/
#header {
  height: 55px;
  overflow: hidden;
  box-shadow: 0 2px 12px #ddd;
  margin: 0;
  position: relative;
  z-index: 100;
}
#header .header_box {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
/*logo*/
h1.logo {
  float: left;
  display: inline;
  width: 260px;
}
h1.logo a {
  display: block;
  height: 55px;
  text-indent: -9999em;
  background: url(/xesui/src/img/logo.png) no-repeat;
}
/*菜单*/
#header .header_box ul.nav {
  float: left;
  width: 400px;
  height: 45px;
}
#header .header_box ul.nav li {
  float: left;
  display: inline;
  line-height: 45px;
  margin: 6px 10px 0 30px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
#header .header_box ul.nav li a {
  color: #333333;
}
#header .header_box ul.nav li a:hover {
  color: #cc0000;
}
#header .header_box ul.nav li.current {
  border-bottom: 4px solid #cc0000;
}
#header .header_box ul.nav li.current a {
  color: #cc0000;
}
#header .header_box ul.nav li.current a:hover {
  color: #cc0000;
}
/*搜索*/
#header .header_box .search {
  float: left;
  width: 180px;
  height: 30px;
  margin-top: 12px;
  border-radius: 16px;
  border: 1px solid #ccc;
  position: relative;
}
#header .header_box .search .head_top_search {
  width: 140px;
  height: 20px;
  border: 0;
  margin: 5px 0px 0px 10px;
}
#header .header_box .search .head_btn_search {
  width: 15px;
  height: 15px;
  background: url("../img/icon.png") -49px 0 no-repeat transparent;
  text-indent: -9999em;
  position: absolute;
  right: 12px;
  top: 7px;
  z-index: 10;
}
/*购物车*/
#header .header_box .shopcar {
  float: left;
  width: 20px;
  padding-top: 18px;
  margin-left: 15px;
}
/*未登录*/
#header .header_box ul.topbar {
  float: right;
  width: 90px;
  padding-top: 18px;
}
#header .header_box ul.topbar li {
  float: left;
  font-size: 14px;
}
#header .header_box ul.topbar li a {
  color: #999999;
}
/*已登录*/
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:36:00
 * @version $Id$
 *@ layout.css  框架和公用样式
 */
/**/
#container {
  overflow: hidden;
  width: 100%;
  margin: 0;
}
.layout {
  width: 980px;
  margin: auto;
  overflow: hidden;
}
.layout_body {
  overflow: hidden;
}
.layout_side {
  overflow: hidden;
}
.layout_content {
  overflow: hidden;
}
/*公用样式*/
.panle {
  overflow: hidden;
}
.panel_content {
  overflow: hidden;
}
.left {
  float: left;
  display: inline;
}
.right {
  float: right;
  display: inline;
}
.w_215 {
  width: 215px;
}
.w_235 {
  width: 235px;
}
.w_310 {
  width: 310px;
  margin-right: 5px;
}
.w_655 {
  width: 655px;
  border-right: 1px solid #e5e5e5;
}
.w_645 {
  width: 645px;
}
.w_730 {
  width: 730px;
}
.w_740 {
  width: 740px;
}
/**
 * [广告块]
 *
 */
.advert {
  margin-top: 10px;
}
.mtop_10 {
  margin-top: 10px;
}
.mtop_20 {
  margin-top: 20px;
}
.mtop_30 {
  margin-top: 30px;
}
.ptop_10 {
  padding-top: 10px;
}
.ptop_20 {
  padding-top: 20px;
}
.ptop_30 {
  padding-top: 30px;
}
.font14 {
  font-size: 14px;
}
/**
 * 
 * authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:44:46
 * @version $Id$  公用底部
 */
#footer {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 0px;
}
/*===============/下：关于我们部分/====================*/
#footer .foot_area {
  padding: 20px 0px;
}
#footer .foot_area p {
  text-align: center;
  line-height: 180%;
}
#footer .foot_area p a:link {
  padding: 0px 5px;
  color: #333333;
}
#footer .foot_area p.link {
  padding-top: 15px;
}
/*===============/上：学习经验分享/====================*/
#footer .foot_service {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #F1F1F1;
}
#footer .foot_service a {
  float: left;
  display: inline;
  width: 140px;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  margin: 10px 10px 0px 20px;
  padding-left: 68px;
  text-decoration: none;
}
#footer .foot_service a p {
  line-height: 150%;
  color: #666;
  text-align: left;
}
#footer .foot_service a.service_share {
  background: url(http://www.xueersi.com/static/img/icon/A1_01.gif) no-repeat;
}
#footer .foot_service a.service_live {
  background: url(http://www.xueersi.com/static/img/icon/A2_01.gif) no-repeat;
}
#footer .foot_service a.service_system {
  background: url(http://www.xueersi.com/static/img/icon/A3_01.gif) no-repeat;
}
#footer .foot_service a.service_interaction {
  background: url(http://www.xueersi.com/static/img/icon/A4_01.gif) no-repeat;
}
#footer .foot_service a.service_share:hover {
  background: url(http://www.xueersi.com/static/img/icon/A1.gif) no-repeat;
}
#footer .foot_service a.service_live:hover {
  background: url(http://www.xueersi.com/static/img/icon/A2.gif) no-repeat;
}
#footer .foot_service a.service_system:hover {
  background: url(http://www.xueersi.com/static/img/icon/A3.gif) no-repeat;
}
#footer .foot_service a.service_interaction:hover {
  background: url(http://www.xueersi.com/static/img/icon/A4.gif) no-repeat;
}
#footer .foot_service a span {
  display: block;
  line-height: 22px;
  font-weight: bold;
  color: #333333;
}
/*头部，内容，底部*/
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:39:59
 * @version $Id$  首页广告轮播
 */
#index_focus {
  height: 400px;
  overflow: hidden;
  /*=================/图片轮播大图/============================*/

}
#index_focus .focus_list {
  overflow: hidden;
}
#index_focus .focus_list li {
  width: 100%;
  height: 400px;
  float: left;
  position: absolute;
  z-index: 9;
  background: url(/xesui/src/pic/pic_01.jpg) no-repeat center;
}
#index_focus .focus_list li a {
  display: none;
  height: 400px;
  text-indent: -999999em;
}
#index_focus .focus_list li.current {
  z-index: 10;
}
/*=================/图片轮播缩小图/============================*/
#index_focus .focus_num_wrap {
  width: 980px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 11;
  top: 375px;
}
#index_focus .focus_num_wrap ol.focus_num {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 308px;
}
#index_focus .focus_num_wrap ol.focus_num li {
  float: left;
  display: inline;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 15px;
  text-indent: -99999em;
  margin: 0 3px;
  cursor: pointer;
}
#index_focus .focus_num_wrap ol.focus_num li.current {
  background: #0076b3;
}
/**
 * 
 * authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 11:44:46
 * @version $Id$  首页登录框部分
 */
.index_login {
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 11;
  top: 15px;
}
.index_login .login_from {
  width: 318px;
  height: 368px;
  overflow: hidden;
  border: 1px solid #cfdede;
  background: #fbfdfd;
  position: absolute;
  top: 0;
  right: 0;
}
/*====================/上：登录框和登录按钮部份/==========================*/
.index_login .login_from .login_input {
  width: 282px;
  height: 207px;
  margin: 0 auto;
  overflow: hidden;
}
.index_login .login_from .login_input p {
  overflow: hidden;
}
.index_login .login_from .login_input p input.input_text {
  width: 265px;
  height: 30px;
  border: 1px solid #cfdede;
  color: #ccc;
  margin-top: 18px;
  padding-left: 15px;
}
.index_login .login_from .login_input p label {
  float: left;
  display: inline;
  line-height: 40px;
  color: #999999;
}
.index_login .login_from .login_input p label input {
  vertical-align: middle;
}
.index_login .login_from .login_input p span {
  float: right;
  display: inline;
  line-height: 40px;
  color: #999999;
}
.index_login .login_from .login_input p span a {
  color: #999999;
}
.index_login .login_from .login_input p button.btn {
  width: 281px;
  height: 42px;
  margin-top: 5px;
  line-height: 42px;
  border-radius: 5px;
  background: #cc0000;
  background: -webkit-linear-gradient(top, #e72501, #bd1c01);
  font-size: 18px;
  color: #fff;
  font-family: "Microsoft YaHei";
  text-shadow: 2px 3px 5px #f1f1f1;
}
/*====================/下：登录信息说明部份/==========================*/
.index_login .login_from .login_infor {
  border-top: 1px solid #cfdede;
}
.index_login .login_from .login_infor p {
  width: 282px;
  margin: 0 auto;
  overflow: hidden;
}
.index_login .login_from .login_infor .infor_reg {
  line-height: 42px;
  color: #666666;
}
.index_login .login_from .login_infor .infor_reg a {
  color: #006699;
}
.index_login .login_from .login_infor .infor_app {
  overflow: hidden;
  margin-bottom: 10px;
}
.index_login .login_from .login_infor .infor_app a.app_qq,
.index_login .login_from .login_infor .infor_app a.app_weibo {
  float: left;
  display: inline;
  width: 138px;
  height: 47px;
  text-indent: -9999em;
}
.index_login .login_from .login_infor .infor_app a.app_qq {
  background: url(/xesui/src/img/qq.jpg) no-repeat;
}
.index_login .login_from .login_infor .infor_app a.app_weibo {
  float: right;
  background: url(/xesui/src/img/weibo.jpg) no-repeat;
}
.index_login .login_from .login_infor .infor_text {
  line-height: 25px;
  color: #999;
}
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:24:01
 * @version $Id$ 所有标题
 */
.side_header {
  height: 42px;
  line-height: 42px;
}
.side_header span {
  color: #999999;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  text-align: left;
}
.main_header {
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.main_header .nav_links {
  width: 645px;
  height: 42px;
  overflow: hidden;
}
.main_header .nav_links li {
  float: left;
  display: inline;
  line-height: 42px;
}
.main_header .nav_links li a {
  color: #006699;
  font-size: 14px;
}
.main_header .nav_links li i {
  font-style: normal;
  color: #ccc;
  display: inline-block;
  padding: 0 8px;
}
.main_header .nav_links li.current {
  background: url(/xesui/src/img/ins.jpg) 25px 37px no-repeat;
}
.main_header .nav_links li.current a {
  font-weight: bold;
}
.border_blue {
  border-bottom: 1px solid #0076b3;
}
.layout_body .border_blue .nav_links li.current {
  background: none;
}
.layout_body .border_blue span {
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.side_header .border_blue span {
  float: right;
  color: #0076b3;
  text-align: right;
  font-size: 20px;
}
.header_setting {
  margin: 10px 0 0 0;
}
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-27 14:38:03
 * @version $Id$  动态组件
 */
.ui_feed {
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.ui_avatar {
  overflow: hidden;
}
.ui_feed .avatar_mini {
  float: left;
  display: inline;
  width: 60px;
}
.feed_detail {
  float: left;
  display: inline;
  margin-left: 5px;
}
.feed_detail .feed_text {
  line-height: 180%;
  color: #666;
}
.feed_detail .feed_text a {
  color: #006699;
}
.feed_detail .feed_bar {
  overflow: hidden;
  line-height: 20px;
  color: #999999;
}
.feed_detail .feed_bar span {
  float: right;
}
.feed_detail .feed_bar span a {
  padding-right: 10px;
}
.feed_detail .feed_bar span a strong {
  color: #999999;
}
.feed_detail .feed_text_my {
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 20px;
}
.feed_detail .feed_text_my .my {
  float: left;
  width: 30px;
  color: #333333;
}
.feed_detail .feed_text_my .my_info {
  float: left;
  width: 630px;
  color: #999999;
}
.feed_comment {
  border: 1px solid #ededed;
  background: #fcfcfc;
  margin-top: 10px;
  position: relative;
}
.feed_comment .ui_comment {
  width: 640px;
  margin: 10px auto;
}
.feed_comment .comment_corner {
  width: 16px;
  height: 9px;
  background: url(/xesui/src/img/ins_c.jpg) no-repeat;
  position: absolute;
  z-index: 10;
  top: -9px;
  right: 126px;
}
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:40:19
 * @version $Id$  头像
 */
.ui_avatar {
  width: 50px;
  position: relative;
  overflow: hidden;
}
.ui_avatar .prev,
.ui_avatar .next {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 85px;
}
.ui_avatar .prev {
  left: 0;
}
.ui_avatar .next {
  right: 0;
}
.ui_avatar ul.avatar_items {
  overflow: hidden;
}
.ui_avatar ul.avatar_items li a {
  display: block;
  text-align: center;
  line-height: 180%;
  color: #666666;
}
.ui_avatar ul.avatar_items li img {
  width: 50px;
  height: 50px;
}
.ui_avatar .userpic img {
  width: 50px;
  height: 50px;
}
/**
 * *name.css
 *ui_username
 *用户，年级名称加"V"
 *默认为.ui_username小V，大小V分为BLUE(.b)以及YELLOW(.y)两种样式
 */
.ui_username,
.ui_username_large {
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
}
.ui_username .b {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  margin-top: 1px;
  text-indent: -9999em;
  background-image: url("../img/icon.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-position: -99px 2px;
}
.ui_username .y {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  margin-top: 1px;
  text-indent: -9999em;
  background-image: url("../img/icon.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-position: -100px -23px;
}
.ui_username_large .b {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  margin-top: 1px;
  text-indent: -9999em;
  background-image: url("../img/icon.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  width: 23px;
  background-position: -100px -50px;
}
.ui_username_large .y {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  margin-top: 1px;
  text-indent: -9999em;
  background-image: url("../img/icon.png");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  width: 23px;
  background-position: -100px -75px;
}
/**
*list.css
*ui_list
*所有有序，无序列表
*<ul ol>
*    <li>1<a>中华人民共和国--学而思网校</a></li>
*</ul ol>
*/
.ui_list {
  list-style-type: none;
  padding-left: 5px;
  line-height: 20px;
}
.list_blue {
  line-height: 22px;
}
.list_blue a {
  color: #329bca;
}
.list_blue a:hover {
  color: #329bca;
}
.list_black a {
  color: #333333;
}
.list_black a:hover {
  color: #333333;
}
/*================/ 首页 /========================*/
.content_box {
  overflow: hidden;
}
.content_box .feed_text {
  width: 570px;
}
.content_box .border_none {
  border: 0;
}
ul.index_notice {
  overflow: hidden;
  padding: 10px 0;
}
ul.index_notice li {
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  overflow: hidden;
  font-size: 14px;
}
ul.index_notice li i {
  font-size: 18px;
  padding-right: 10px;
}
