@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-18 10:06:25
 * @version $Id$
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rs\/work\/github\/xueersi\/xesui\/source\/less\/test\.less}line{font-family:\0000312}}
body {
  color: #cccccc;
  font-size: 12px;
  background-image: ;
}
