/**
 *tips(alert样式)提示样式
 * 默认是不带边框的粉色提示
 */
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用 eg:width:20px=20*@w1;
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Base style
 */
/**
 * Typography
 *---------------------------
 */
.bl {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.n {
  font-weight: normal;
  font-style: normal;
}
.b {
  font-weight: bold;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.red {
  color: #cc0000;
}
.line {
  display: inline-block;
  padding: 0 10px;
  color: #999;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.border_none {
  border: 0;
}
/**
 * 用.border-radius(@radius)定义了一个带参数@radius(默认值为bbr)的属性
 * 可以在less文件中使用.border-radius(5px)调用
 *--------------------------------------------------------------------
 */
/**
 * 用.box-shadow(arguments)定义了一个带参数@arguments(可以设置默认值)的属性集合
 * 可以在less文件中使用.box-shadow(argument,argument,argument....)调用
 *------------------------------------------------------
 */
/**
 * 用.placeholder(argument)为placeholder设定一个颜色值
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用background-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用border-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换元素透明度，默认值为1
 * 可以在less文件中使用.alpha(opacity的值)调用
 *----------------------------------------------------
 */
/**
 * 可以修改背景图片
 * 可以在less文件中使用.alpha(opacity的值)调用
 *----------------------------------------------------
 */
.tip {
  line-height: 24px;
  padding: 6px 12px;
  color: #333333;
  background: #cc0000;
  background: -webkit-linear-gradient(top, #fff5da, #ffeec0);
  font-size: 12px;
}
.tip .close {
  float: right;
  background: none;
  font-size: 18px;
}
.tip_danger {
  border: 1px solid;
  border-color: #e6d6a5;
  background-color: #feeec3;
}
.tip a,
.tip strong {
  padding-left: 10px;
}
.tip a {
  color: #0078b0;
}
.tip a:hover {
  color: #0078b0;
}
