@charset "UTF-8";
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 14:24:01
 * @version $Id$
 */
.side_header {
  height: 42px;
  line-height: 42px;
}
.side_header span {
  color: #999;
  font-size: 20px;
  font-family: 微软雅黑;
  text-align: left;
}
.border_blue {
  border-bottom: 1px solid #0076b3;
}
.border_blue span {
  float: right;
  color: #0076b3;
  text-align: right;
}
.main_header {
  overflow: hidden;
  margin-bottom: 20px;
}
.main_header .nav_links {
  width: 645px;
  height: 42px;
  overflow: hidden;
}
.main_header .nav_links li {
  float: left;
  display: inline;
  line-height: 42px;
}
.main_header .nav_links li a {
  color: #006699;
  font-size: 14px;
}
.main_header .nav_links li.current a {
  font-weight: bold;
}
.main_header .nav_links li i {
  font-style: normal;
  color: #ccc;
  display: inline-block;
  padding: 0 8px;
}
.border_blue .nav_links {
  width: 645px;
  height: 42px;
  overflow: hidden;
}
.border_blue .nav_links li {
  float: left;
  display: inline;
  line-height: 42px;
}
.border_blue .nav_links li a {
  color: #006699;
  font-size: 14px;
}
.border_blue .nav_links li.current a {
  font-weight: bold;
}
.border_blue .nav_links li i {
  font-style: normal;
  color: #ccc;
  display: inline-block;
  padding: 0 8px;
}
.layout_body .border_blue span {
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}
.header_setting {
  margin: 10px 0 0 0;
}
