@charset "UTF-8";
/**
 * @authors sam shih
 * @学习中心个人设置我要充值银行列表
 */
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用 eg:width:20px=20*@w1;
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
.mtop_10 {
  margin-top: 10px;
}
.mtop_20 {
  margin-top: 20px;
}
.mtop_30 {
  margin-top: 30px;
}
.ptop_10 {
  padding-top: 10px;
}
.ptop_20 {
  padding-top: 20px;
}
.ptop_30 {
  padding-top: 30px;
}
.font14 {
  font-size: 14px;
}
/*base,重置，变量*/
.paylists {
  line-height: 22px;
}
.paylists .setting_menu {
  margin-bottom: 10px;
}
.paylists .pay_info {
  font-size: 14px;
  color: #5b5b5b;
  padding: 10px 50px;
}
.paylists .pay_info strong {
  display: inline-block;
  width: 90px;
  text-align: right;
  color: #333333;
  font-weight: bold;
}
.paylists .pay_tips {
  color: #adadad;
  overflow: hidden;
  background: #FAFAFA;
  padding: 10px 20px;
}
.paylists ul li {
  width: 180px;
  float: left;
  margin: 0 15px 40px 0;
}
.paylists ul li input[type="radio"] {
  margin-right: 5px;
}
.paylists ul li .bank-item {
  background-image: url("../img/banklist.png");
  background-repeat: no-repeat;
  cursor: pointer;
  width: 154px;
  height: 33px;
  vertical-align: middle;
  display: inline-block;
}
.paylists ul li .ICBC {
  background-position: 0 0;
}
.paylists ul li .CMB {
  background-position: 0 -99px;
}
.paylists ul li .ABC {
  background-position: 0 -198px;
}
.paylists ul li .CCB {
  background-position: -154px 0;
}
.paylists ul li .BCM {
  background-position: -154px -99px;
}
.paylists ul li .SDB {
  background-position: -154px -198px;
}
.paylists ul li .BOB {
  background-position: -308px 0;
}
.paylists ul li .CIB {
  background-position: -308px -99px;
}
.paylists ul li .BOC {
  background-position: 0 -231px;
}
.paylists ul li .CEB {
  background-position: 0 -33px;
}
.paylists ul li .SPD {
  background-position: 0 -132px;
}
.paylists ul li .CMBC {
  background-position: -308px -198px;
}
.paylists ul li .PSBC {
  background-position: -154px -132px;
}
.paylists ul li .BEA {
  background-position: -154px -33px;
}
.paylists ul li .RCB {
  background-position: -154px -231px;
}
.paylists ul li .CBHB {
  background-position: -308px -33px;
}
.paylists ul li .CGD {
  background-position: -308px -133px;
}
.paylists ul li .GZCB {
  background-position: -308px -230px;
}
.paylists ul li .GZNC {
  background-position: 0 -66px;
}
.paylists ul li .HXB {
  background-position: 0 -165px;
}
.paylists ul li .ZXSY {
  background-position: 0 -264px;
}
.paylists ul li .NBCB {
  background-position: -154px -66px;
}
.paylists ul li .SHNC {
  background-position: -154px -165px;
}
.paylists ul li .BBON {
  background-position: -154px -264px;
}
.paylists ul li .HCCB {
  background-position: -308px -66px;
}
.paylists ul li .PAYH {
  background-position: -308px -165px;
}
.paylists ul li .gateway {
  background-position: -308px -264px;
}
