@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-28 16:35:11
 * @version $Id$
 */
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用 eg:width:20px=20*@w1;
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
.mtop_10 {
  margin-top: 10px;
}
.mtop_20 {
  margin-top: 20px;
}
.mtop_30 {
  margin-top: 30px;
}
.ptop_10 {
  padding-top: 10px;
}
.ptop_20 {
  padding-top: 20px;
}
.ptop_30 {
  padding-top: 30px;
}
.font14 {
  font-size: 14px;
}
.ui_comment {
  overflow: hidden;
}
.ui_comment form.comment_form {
  overflow: hidden;
  margin-bottom: 10px;
}
.ui_comment form.comment_form .comment_title {
  line-height: 25px;
  font-size: 14px;
  color: #999999;
}
.ui_comment form.comment_form .comment_textarea {
  overflow: hidden;
}
.ui_comment form.comment_form .comment_textarea textarea {
  width: 99%;
  height: 60px;
  border: 1px solid #ededed;
}
.ui_comment form.comment_form .comment_func {
  overflow: hidden;
  height: 50px;
}
.ui_comment form.comment_form .comment_func .comment_kind {
  display: none;
}
.ui_comment form.comment_form .comment_func .comment_tips {
  float: left;
  color: #cc0000;
  line-height: 50px;
}
.ui_comment form.comment_form .comment_func .comment_button {
  float: right;
}
.ui_comment form.comment_form .comment_func .comment_button .comment_size {
  float: left;
  line-height: 50px;
  margin-right: 10px;
  color: #999999;
}
.ui_comment form.comment_form .comment_func .comment_button .btn_submit {
  width: 67px;
  height: 29px;
  font-size: 14px;
  margin: 10px 5px 0 0;
}
.ui_comment .comment_content {
  overflow: hidden;
}
.ui_comment .comment_content .comment_list {
  border-bottom: 1px dashed  #ededed;
  overflow: hidden;
  padding-bottom: 5px;
  margin-top: 15px;
}
.ui_comment .comment_content .comment_list .feed_detail {
  width: 570px;
}
.ui_comment .comment_content .comment_list .feed_detail .feed_text {
  color: #999999;
}
.ui_comment .comment_content .comment_list .feed_detail .feed_text strong {
  font-size: 14px;
  color: #333333;
}
.ui_comment .comment_more {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
}
.comment_num_all {
  height: 25px;
  line-height: 25px;
  text-align: right;
  border-top: 1px dashed  #ededed;
  color: #999999;
}
