@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-27 14:38:03
 * @version $Id$  动态组件
 */
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
.mtop_10 {
  margin-top: 10px;
}
.mtop_20 {
  margin-top: 20px;
}
.mtop_30 {
  margin-top: 30px;
}
.ptop_10 {
  padding-top: 10px;
}
.ptop_20 {
  padding-top: 20px;
}
.ptop_30 {
  padding-top: 30px;
}
/**
 * Base style
 */
/**
 * Typography
 *---------------------------
 */
.bl {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.n {
  font-weight: normal;
  font-style: normal;
}
.b {
  font-weight: bold;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.red {
  color: #cc0000;
}
.line {
  display: inline-block;
  padding: 0 10px;
  color: #999;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.border_none {
  border: 0;
}
/**
 * 用.border-radius(@radius)定义了一个带参数@radius(默认值为bbr)的属性
 * 可以在less文件中使用.border-radius(5px)调用
 *--------------------------------------------------------------------
 */
/**
 * 用.box-shadow(arguments)定义了一个带参数@arguments(可以设置默认值)的属性集合
 * 可以在less文件中使用.box-shadow(argument,argument,argument....)调用
 *------------------------------------------------------
 */
/**
 * 用.placeholder(argument)为placeholder设定一个颜色值
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 
 * 可以在less文件中使用.placeholder()调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用background-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换背景颜色
 * 可以在less文件中使用border-color(@color)调用
 *----------------------------------------------------
 */
/**
 * 可以换元素透明度，默认值为1
 * 可以在less文件中使用.alpha(opacity的值)调用
 *----------------------------------------------------
 */
/**
 * 可以修改背景图片
 * 可以在less文件中使用传入参数：X,Y,图片路径以及重复方向
 *----------------------------------------------------
 */
.ui_feed {
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.ui_avatar {
  overflow: hidden;
}
.ui_feed .avatar_mini {
  float: left;
  display: inline;
  width: 60px;
}
.feed_detail {
  float: left;
  display: inline;
  margin-left: 5px;
}
.feed_detail .feed_text {
  line-height: 180%;
  color: #666;
}
.feed_detail .feed_text a {
  color: #006699;
}
.feed_detail .feed_bar {
  overflow: hidden;
  line-height: 20px;
  color: #999999;
  line-height: 30px;
  position: relative;
  z-index: 10;
  top: 1px;
}
.feed_detail .feed_bar span {
  float: right;
}
.feed_detail .feed_bar span a {
  padding-right: 10px;
  display: inline-block;
  text-decoration: none;
}
.feed_detail .feed_bar span a:hover {
  color: #006699;
}
.feed_detail .feed_bar span a strong {
  color: #999999;
}
.feed_detail .feed_bar span .current {
  position: relative;
}
.feed_detail .feed_bar span .current .icon_comments_corner {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 10;
  background-position: -20px -175px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
.feed_detail .feed_text_my {
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 20px;
}
.feed_detail .feed_text_my .my {
  float: left;
  width: 30px;
  color: #333333;
}
.feed_detail .feed_text_my .my_info {
  float: left;
  width: 630px;
  color: #999999;
}
.feed_comment {
  border: 1px solid #ededed;
  background: #fcfcfc;
  position: relative;
}
.feed_comment .ui_comment {
  width: 640px;
  margin: 10px auto;
}
.feed_media {
  overflow: hidden;
  margin-top: 10px;
}
.feed_media ul {
  overflow: hidden;
}
.feed_media ul li {
  overflow: hidden;
}
.feed_media ul li img {
  max-width: 120px;
  max-height: 120px;
  cursor: url(../img/big.cur), auto !important;
}
.feed_media_expand {
  overflow: hidden;
  width: 640px;
  margin: 10px auto 0;
  border: 1px solid #d9d9d9;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 10px;
}
.feed_media_expand .media_expand_func {
  display: none;
}
.feed_media_expand .media_expand_pic {
  text-align: center;
}
.feed_media_expand .media_expand_pic img {
  max-width: 640px;
  cursor: url(../img/small.cur), auto !important;
}
