@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-27 14:38:03
 * @version $Id$  动态组件
 */
/**
 * Colors
 *---------------------------
 */
/**
 * 全站链接样式
 *
 */
/**
 * font-family
 *fa:font-family:"Arial";
 *fg:font-family:"Georgia";
 *ft:font-family:"Tahoma";
 *fl:font-family:"Lucida Console";
 *fs:font-family:"宋体";
 *fw:font-family:"Microsoft YaHei";
 *fd:font-family:"verdana";
 *------------------------------------
 */
/**
 * padding值设定
 *
 *-----------------------------------------------
 */
/**
 * margin值设定
 *@margin0, @margin5
 *-------------------------------------------------
 */
/**
 * width值设定
 *@w1=width:1px;
 *可以使用计算值调用 eg:width:20px=20*@w1;
 *-------------------------------------------------
 */
/**
 * font-size:
 *f0:font-size:0;
 *f10:font-size:0;
 *f12:font-size:12px;
 *f13:font-size:13px;
 *f14:font-size:14px;
 *f16:font-size:16px;
 *f18:font-size:18px;
 *f20:font-size:20px;
 *f24:font-size:24px;
 *------------------------------------
 */
/**
 * Align & Direction
 * l:left
 * r:right
 * c:center
 * t:top
 * m:middle
 * b:bottom
 *ti:text-index:-9999em;
 *--------------------------------------
 */
/**
 * HL:high-light属性设置
 * hl14:high-light:14px;
 * hl16:high-light:16px;
 * hl18:high-light:18px;
 * hl20:high-light:20px;
 * hl22:high-light:22px;
 * hl24:high-light:24px;
 * hl150:high-light:150%;
 * hl180:high-light:180%;
 *--------------------------------------
 */
/**
 * border设置
 * bbr:base border redius:3px;
 *--------------------------------------
 */
/**
 * button
 * btnColor:btn-color:#fff;
 * btnfh:btn-first-height;
 * btnzh:btn-zero-high-light:0%; //没有渐变
 * btnsh:btn-zero-high-light:5%; //渐变从5%开始
 *--------------------------------------
 */
/**
 * 雪碧图路径设置
 *----------------------------------------
 */
/**
 * table设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
/**
 * Form设置
 *tbg: tableBackground
 *tbga: tableBackgroundAccent
 *tbhb:table-th-background
 *tborder:table-border
 *----------------------------------------
 */
.ui_feed {
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.ui_avatar {
  overflow: hidden;
}
.ui_feed .avatar_mini {
  float: left;
  display: inline;
  width: 60px;
}
.feed_detail {
  float: left;
  display: inline;
  margin-left: 5px;
}
.feed_detail .feed_text {
  line-height: 180%;
  color: #666;
}
.feed_detail .feed_text a {
  color: #006699;
}
.feed_detail .feed_bar {
  overflow: hidden;
  line-height: 20px;
  color: #999999;
}
.feed_detail .feed_bar span {
  float: right;
}
.feed_detail .feed_bar span a {
  padding-right: 10px;
}
.feed_detail .feed_bar span a strong {
  color: #999999;
}
.feed_detail .feed_text_my {
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 20px;
}
.feed_detail .feed_text_my .my {
  float: left;
  width: 30px;
  color: #333333;
}
.feed_detail .feed_text_my .my_info {
  float: left;
  width: 630px;
  color: #999999;
}
.feed_comment {
  border: 1px solid #ededed;
  background: #fcfcfc;
  margin-top: 10px;
  position: relative;
}
.feed_comment .ui_comment {
  width: 640px;
  margin: 10px auto;
}
.feed_comment .comment_corner {
  width: 16px;
  height: 9px;
  background: url(/xesui/src/img/ins_c.jpg) no-repeat;
  position: absolute;
  z-index: 10;
  top: -9px;
  right: 126px;
}
