@charset "UTF-8";
/**
 * 
 * @authors alex liu (liuyanbin@xueersi.com)
 * @date    2013-06-27 19:52:31
 * @version $Id$  老师排行
 */
.ui_teachers {
  overflow: hidden;
}
.teacher_item {
  overflow: hidden;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px dashed #F1F1F1;
}
.teacher_item .num,
.avatar,
.course_num,
.trend,
.student_num,
.new_trend,
.follow_con {
  float: left;
  display: inline;
  text-align: center;
}
.teacher_item .num {
  width: 30px;
  margin: 0 15px;
  background: url(/xesui/src/img/bg1.jpg) 0 -231px no-repeat;
  font-size: 14px;
  font-weight: bold;
  color: #999;
  font-style: italic;
}
.teacher_item .avatar {
  width: 130px;
}
.teacher_item .course_num {
  width: 100px;
}
.teacher_item .trend {
  width: 100px;
}
.teacher_item .student_num {
  width: 100px;
}
.teacher_item .new_trend {
  width: 100px;
}
.teacher_item .follow_con {
  width: 110px;
}
.teacher_item .num_one {
  background-position: 2px 15px;
  color: #fff;
  font-size: 18px;
}
.teacher_item .num_two {
  background-position: 2px -69px;
  color: #fff;
  font-size: 18px;
}
.teacher_item .num_three {
  background-position: 2px -150px;
  color: #fff;
  font-size: 18px;
}
