@charset "UTF-8";
/*///import base.css*/
/* reset */
*{margin:0px;padding:0px;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma, arial, "\5b8b\4f53", sans-serif;}
body {
  _background-image: url(about:blank);     /*用浏览器空白页面作为背景*/
  _background-attachment: fixed;position:relative;             /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/
  }
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}ul,ol{list-style:none;}
img{border:0;}
ul,li{list-style:none;}
i {font-style: normal;}
strong {color: #cc0000;font-weight: normal;}
a,a:link{text-decoration:none;color:#333;}
a:visited{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#bc0000;}
a:active{text-decoration:underline;color:#F00;}
button {font-size:100%;border:0;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}

/*///import app_color.css*/


/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-06-22 14:40:57
 * @version $Id$
 */
/*header*/
#header {height:55px; overflow: hidden;box-shadow:0 2px 12px #ddd;margin:0;position: relative;z-index: 100;}
#header .header_box {width: 980px;margin:0 auto;overflow: hidden;}

/*logo*/
h1.logo {float: left;display: inline;width: 260px; }
h1.logo  a {display: block; height:55px;text-indent: -99999em;background: url(/xesui/src/img/logo.png) no-repeat;}
/*菜单*/
#header .header_box ul.nav,.search,ul.topbar {float: left;display: inline;}
#header .header_box ul.nav {width: 400px;height: 45px;}
#header .header_box ul.nav li {float: left;display: inline;line-height: 45px;margin:6px 10px 0 30px;font-family: 微软雅黑;font-size: 18px;}
#header .header_box ul.nav li.current {border-bottom: 4px solid #cc0000;}
#header .header_box ul.nav li.current a {color: #cc0000;}
/*搜索*/
#header .header_box .search {width: 180px;height: 30px; margin-top: 12px;border-radius: 16px;border:1px solid #ccc;}
#header .header_box .search input {height: 20px; border: 0;margin:5px 0 0 10px;}
/*工具*/
#header .header_box ul.topbar {float:right;width: 120px;border: 1px solid #ccc;}
#header .header_box ul.topbar li {float: left;}


/*footer*/
#footer{width: 100%; border-top: 1px solid #e5e5e5;padding:0px;}
#footer  p {text-align: center;line-height: 180%;}
#footer  p a {padding: 0px 5px;}
#footer  p.link {padding-top: 15px;}
#footer .foot_area {padding:20px 0;}
#footer .foot_service a p {line-height: 150%; color: #666;  text-align: left;}
/*footer >  foot_service*/
.foot_service {width: 980px;margin:0 auto;overflow: hidden; padding-bottom: 20px;border-bottom: 1px solid #F1F1F1;}
.foot_service a { float: left; display: inline; width: 140px; overflow: hidden; cursor: pointer; height: 56px; margin: 15px 10px 0 20px; padding-left: 68px; text-decoration: none;}
.foot_service a.service_share {background: url(http://www.xueersi.com/static/img/icon/A1_01.gif) no-repeat;}
.foot_service a.service_live {background: url(http://www.xueersi.com/static/img/icon/A2_01.gif) no-repeat;}
.foot_service a.service_system {background: url(http://www.xueersi.com/static/img/icon/A3_01.gif) no-repeat;}
.foot_service a.service_interaction {background: url(http://www.xueersi.com/static/img/icon/A4_01.gif) no-repeat;}
.foot_service a.service_share:hover {background: url(http://www.xueersi.com/static/img/icon/A1.gif) no-repeat;}
.foot_service a.service_live:hover {background: url(http://www.xueersi.com/static/img/icon/A2.gif) no-repeat;}
.foot_service a.service_system:hover {background: url(http://www.xueersi.com/static/img/icon/A3.gif) no-repeat;}
.foot_service a.service_interaction:hover {background: url(http://www.xueersi.com/static/img/icon/A4.gif) no-repeat;}
.foot_service a span {display: block;line-height: 22px; }





/*layout*/
#container {overflow: hidden;width: 100%;margin:0;}
.layout {width: 980px;margin: auto;overflow: hidden;}
.layout_body {overflow: hidden;min-height: 700px;}
.layout_side {overflow: hidden;}
.layout_content {overflow: hidden;}

/*公用样式*/
.panle {overflow: hidden;}

.left {float: left;display: inline;}
.right {float: right;display: inline;}

.w_215 {width: 215px;}
.w_235 {width: 235px;}
.w_310{width: 310px;margin-right: 5px;}
.w_655 {width: 655px;border-right:1px solid #e5e5e5;}
.w_645 {width: 645px;}
.w_730 {width: 730px;}
.w_740 {width: 740px}

.hidden {display: none;}
.show {display: block;}

.border_none {border: 0;}


 /**
  * [首页广告轮播和登录框部分]
  * @type {[type]}
  *
  * 
  */
#index_focus {height: 400px;overflow: hidden;}
/*轮播部分*/
#index_focus .focus_list {overflow: hidden;}
#index_focus .focus_list li {width: 100%; height: 400px;float: left; position: absolute; z-index: 9;background: url(/xesui/src/pic/pic_01.jpg) no-repeat center ;}
#index_focus .focus_list li a {display: none;height: 400px; text-indent: -999999em;}
#index_focus .focus_list li.current { z-index: 10;}

#index_focus .focus_num_wrap {width:980px;height: 20px; margin: 0 auto; position: relative;z-index: 11;top:375px; }
#index_focus .focus_num_wrap ol.focus_num {width:100px;height: 20px;position: absolute; right: 308px; }
#index_focus .focus_num_wrap ol.focus_num li { float: left; display: inline; width: 9px;height: 9px; background-color: #fff;border-radius: 15px; text-indent: -99999em;margin:0 3px;cursor: pointer;}
#index_focus .focus_num_wrap ol.focus_num li.current {background: #0076b3;}
 /**
  * [首页广告轮播和登录框部分]
  * @type {[type]}
  *
  * end
  */
 
/*
*[首页登录框部分]
*@type {[type]}
*end
*/
.index_login {width:980px; margin: 0 auto; position: relative;z-index: 11;top:15px;}
.index_login .login_from {width: 318px;height: 368px;overflow: hidden;border: 1px solid #cfdede;background: #fbfdfd;position: absolute;top:0;right:0;}

.index_login .login_input {width:282px;height: 207px;margin:0 auto;overflow: hidden;}
.index_login .login_input p {overflow: hidden;}
.index_login .login_input input.input_text {width:265px;height: 30px;border: 1px solid #cfdede;color: #ccc;margin-top: 18px;padding-left: 15px;}
.index_login .login_input p label {float: left;display: inline;line-height: 40px;color: #999;}
.index_login .login_input p label input {vertical-align: middle;}
.index_login .login_input p span {float: right;display: inline;line-height: 40px;color: #999;}
.index_login .login_input p span a {color: #999;}
.index_login .login_input p button.btn {width:281px;height: 42px;line-height: 42px;border-radius: 5px;background: #cc0000;background: -webkit-linear-gradient(top,#e72501, #bd1c01);font-size: 18px;color: #fff;font-family: 微软雅黑; cursor: pointer;text-shadow:2px 3px 5px #f1f1f1;}

.index_login .login_infor {border-top: 1px solid #cfdede;}
.index_login .login_infor p {width: 282px;margin: 0 auto;overflow: hidden;}
.index_login .login_infor .infor_reg {line-height: 42px;color: #666;}
.index_login .login_infor .infor_reg a {color: #006699;}
.index_login .login_infor .infor_app {overflow: hidden;margin-bottom: 10px;}
.index_login .login_infor .infor_app a.app_qq,a.app_weibo {float: left;display: inline;width: 138px;height: 47px; text-indent: -999999em;}
.index_login .login_infor .infor_app a.app_qq {background: url(/xesui/src/img/qq.jpg) no-repeat;}
.index_login .login_infor .infor_app a.app_weibo {float:right;background: url(/xesui/src/img/weibo.jpg) no-repeat;}
.index_login .login_infor .infor_text {line-height:25px;color: #999;}
.index_login .login_infor .infor_text strong {font-weight: normal;color: #cc0000;}



/**
 * [边栏部分的标题]
 * @type {[type]}
 */
.side_header {height: 42px;line-height: 42px;}
.side_header span {color:#999;font-size: 20px;font-family: 微软雅黑;text-align: left;}
.border_blue {border-bottom:1px solid #0076b3; }
.border_blue span {float:right;color:#0076b3;text-align: right;}


ul.index_notice {overflow: hidden;padding: 10px 0;}
ul.index_notice li {height: 30px;line-height: 30px;padding-left: 10px;overflow: hidden; font-size: 14px;}
ul.index_notice li i {display:inline-block;font-size: 18px;padding-right: 10px;font-style:normal;}


/**
 * [广告块]
 * @type {[type]}
 */
.advert {margin-top: 10px;}



/**
 * [overflow description]
 * @type {[type]}
 */
.main_header {overflow: hidden;margin-bottom: 20px;}
.main_header .nav_links {width:645px;height: 42px;overflow: hidden;}
.main_header .nav_links li {float: left;display: inline;line-height: 42px;}
.main_header .nav_links li a {color: #006699;font-size: 14px;}
.main_header .nav_links li.current  a{font-weight: bold;}
.main_header .nav_links li i {font-style: normal;color: #ccc;display: inline-block;padding:0 8px;}


.border_blue .nav_links {}
.border_blue .nav_links {width:645px;height: 42px;overflow: hidden;}
.border_blue .nav_links li {float: left;display: inline;line-height: 42px;}
.border_blue .nav_links li a {color: #006699;font-size: 14px;}
.border_blue .nav_links li.current  a{font-weight: bold;}
.border_blue .nav_links li i {font-style: normal;color: #ccc;display: inline-block;padding:0 8px;}

.layout_body .border_blue {}
.layout_body .border_blue span {float: left;font-size: 14px;font-weight: bold;line-height: 40px;}

/**
 * [首页]
 * @type {[type]}
 */

.content_box {overflow: hidden;}
.content_box .feed_text {width: 570px;}
.content_box .border_none {border: 0;} 



/**
 * [ui_feed 动态]
 * @type {[type]}
 */
.ui_feed {overflow: hidden;margin-bottom: 10px;border-bottom: 1px solid #F1F1F1;padding-bottom: 20px;margin-bottom: 20px;}
.ui_avatar {overflow: hidden;}
.ui_feed .avatar_mini {float: left;display: inline;width: 60px;}
.ui_avatar .userpic {}
.feed_detail {float: left;display: inline;margin-left:10px;}
.feed_detail .ui_username {display:inline-block;font-size: 14px;line-height:25px;}
.feed_detail .feed_text {line-height: 180%;color: #666;}
.feed_detail .feed_text a {color: #006699;}




/**
 * [课程频道页]
 * @type {[type]}
 */
/*课程页---导航*/
.menu_pd_title {height: 55px;line-height: 55px;font-size: 12px;color: #666;}
.menu_pd_title a {color: #999;}


/*课程页---筛选*/
.ui_filter {overflow: hidden;}
.ui_filter .filter_handle {overflow: hidden;height: 28px;line-height: 28px;border-bottom: 1px solid #4a9fdb;_zoom:1;}
.ui_filter .filter_handle h2 {float: left;display: inline;width: 77px;background: #4a9fdb; text-align: center;color: #fff;}
.ui_filter .filter_handle p.more {float: right;font-size: 12px;color: #999;}
.ui_filter .filter_handle p.more strong {color: #cc0000;}

.ui_filter .filter_item {height: 37px; overflow: hidden;border-left: 1px solid #eeebe9;border-right: 1px solid #eeebe9;border-bottom: 1px dashed #e6e6e6;margin: 0;font-size: 12px;background: #fff;}
.ui_filter .border_none {border-bottom:0;}
.ui_filter .filter_item dt {float: left;width:77px;line-height: 37px;text-align: center;background: #f7f6f5;font-weight: bold;color: #333;}
.ui_filter .filter_item dd {float: left;line-height: 37px;}
.ui_filter .filter_item dd a {margin: 0 6px;color: #666;}
.ui_filter .filter_item dd a.current {padding: 2px 6px;background: #4a9fdb;color: #fff;}

.ui_filter .filter_more {overflow: hidden; position: relative;height: 22px;border-top: 5px solid #eeebe9;}
.ui_filter .filter_more p {position: absolute;right: 0;top: -1px; width: 87px;background: #eeebe9; text-align: center;font-size: 12px;color: #666;}


ul.filter_handle_items {display: none;}


/*课程页和教师页--排序标题*/
.ui_sortbar {overflow: hidden;height: 36px;border:1px solid #ededed;background: #fcfcfc;margin:10px 0 15px 0;}
.ui_sortbar li {float: left;line-height: 36px;font-size: 12px;margin:0 30px 0 5px;}
.ui_sortbar li.sort_title {margin:0 0 0 15px;font-weight: bold;}
.ui_sortbar li a {color: #666;}
.ui_sortbar li a.current {background: #4a9fdb;padding: 2px 6px;color: #fff;}

.sort_teacher {overflow: hidden;}
.sort_teacher li {margin: 0;}
.sort_teacher li.sort_num {width: 30px;margin:0 15px;}
.sort_teacher li.sort_avatar {width: 130px;padding-left: 30px;}
.sort_teacher li.sort_course_num {width: 100px;}
.sort_teacher li.sort_trend {width: 100px;}
.sort_teacher li.sort_student_num {width: 100px;}
.sort_teacher li.sort_new_trend {width: 100px;}

/*课程页---课程*/
.ui_courses {overflow: hidden;}
.ui_courses .ui_avatar {float: left;display:inline;height:110px;margin: 10px;}
.course_item {overflow: hidden;border: 1px solid #ededed;background: #fcfcfc;margin-bottom: 10px;}

/*内容部分*/
.course_detail {float: left;display: inline;width:645px;}
.course_detail .course_title {font-size: 18px;font-family: 微软雅黑;color: #333;font-weight: normal;padding: 7px 0;}
.course_detail .course_title em {display: inline-block;width:35px;line-height: 17px; background: url(../img/icon_1.png) no-repeat;color: #fff;font-size: 12px;padding-left: 3px;}
.course_detail .course_title strong {color: #cc0000;font-size: 14px;}

.course_detail  .course_info {height: 25px;color: #999;font-size: 12px;}
.course_detail  .course_info strong {color: #cc0000;}

.course_detail  .course_func {line-height: 30px;}
.course_detail  .course_func button {float:left;width:75px;height: 27px;line-height: 27px;border-radius: 2px;background: #cc0000;background: -webkit-linear-gradient(top,#f8f8f8, #f4f2f3);font-size: 12px;color: #cc0000;font-family: 微软雅黑; cursor: pointer;text-shadow:2px 3px 5px #f1f1f1;border: 1px solid #cecece;}
.course_detail  .course_func span {float: left;font-size: 14px;margin:0 10px;}
.course_detail  .course_func span strong {color: #cc0000;}
.course_detail  .course_func i {float: left;}

/*头像*/
.ui_avatar {width:50px;position: relative; overflow: hidden;}
.ui_avatar .prev,.ui_avatar .next {width:21px;height:21px;text-indent: -99999em; display: inline-block;position: absolute; z-index: 10;top: 85px;}
.ui_avatar .prev {left: 0; background: url(../img/icon_l1.png) no-repeat;}
.ui_avatar .next {right: 0; background: url(../img/icon_r2.png) no-repeat;}
.ui_avatar ul.avatar_items {overflow: hidden;}
.ui_avatar ul.avatar_items li a {display: block; text-align: center;line-height: 180%;}
.ui_avatar ul.avatar_items li img {width: 50px;height: 50px;}

.ui_avatar .userpic img{width: 50px;height: 50px;}

/*名称*/
.username {color: #999;}



/**
 * 搜课页
 */

.ui_searchbar {overflow: hidden;margin:20px 0 15px 0;}
.ui_searchbar .search_head {height: 26px;line-height: 26px;font-size: 14px;color: #0175b2;font-weight: bold;padding-left: 5px;}
.ui_searchbar .search_group  {overflow: hidden;}
.ui_searchbar .search_group .search_keyword {float:left;width:658px;border: 1px solid #cdcdcd;line-height: 33px;}
.ui_searchbar .search_group button.btn_large {float:left;width:70px;height:35px;color:#fff;font-size:14px;background: #3399fe;}
.ui_searchbar .search_tips {height: 37px;line-height: 37px;background: #f4f0ef;padding-left: 15px;color: #666;}
.ui_searchbar .search_tips strong {color: #cc0000;}


/*side*/
.panel {overflow: hidden;}
.panel_content {overflow: hidden;}

/*老师排行----最新发布*/
.panel .ui_feed {border-bottom: 1px dashed #F1F1F1;}
.panel .ui_feed .ui_avatar {float: left;width: 50px;height: 50px;}
.panel .ui_feed .feed_detail {float: left;width: 166px;}


.ui_teachers {overflow: hidden;}
.teacher_item {overflow: hidden;height: 80px;line-height:80px;border-bottom: 1px dashed #F1F1F1;}
.teacher_item .num,.avatar,.course_num,.trend,.student_num,.new_trend,.ui_follow {float: left;display: inline; text-align: center; }
.teacher_item .num {width: 30px;margin:0 15px;background: url(../img/bg1.jpg) 0 -231px no-repeat;font-size: 14px;font-weight: bold;color: #999;}
.teacher_item .avatar {width: 130px;}
.teacher_item .course_num {width: 100px;}
.teacher_item .trend {width: 100px;}
.teacher_item .student_num {width: 100px;}
.teacher_item .new_trend {width: 100px;}
.teacher_item .ui_follow {width: 110px;}

.teacher_item .num_one {background-position: 2px 15px;color: #fff;font-size: 18px;}
.teacher_item .num_two {background-position: 2px -69px;color: #fff;font-size: 18px;}
.teacher_item .num_three {background-position: 2px -150px;color: #fff;font-size: 18px;}





.side_nav {background: #fbfbfb; overflow: hidden;border-bottom:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.side_nav .nav_header {border-bottom: 1px solid #cae0ed;margin-bottom: 20px;color: #999;text-align: center;}
.side_nav .nav_header span {display: inline-block;padding: 0 10px ;background: #fbfbfb;position: relative;z-index: 10;top:12px;}
.side_nav li {line-height: 25px; }
.side_nav li a {font-size: 14px;color: #0076b8;}

.nav_setting li {text-align: center;}
.nav_setting li.current a {padding: 2px 10px;background: #4a9eda;color: #fff;}
.nav_help li {text-align: left;padding-left: 15px;}
.nav_help li.current a {font-weight: bold;}



.setting_menu {overflow: hidden;height: 50px;line-height: 50px;border-bottom: 1px dotted #ccc;}
.setting_menu span {float: left;}
.setting_menu span strong {font-size: 20px;}
.setting_menu a {float: right;}

.setting_search {height: 30px;margin: 30px 0 0 0;color: #666;}
.setting_search p {float: right;}


.ui_table {width: 100%;border: 1px solid #dcdcdc;}
.ui_table th {height: 30px;text-align: center;background: #f2f2f2;font-weight: normal;}
.ui_table td {height: 30px; text-align: center;border-top: 1px solid #f0f0f0;color: #666;}











